<%= render :partial => '/admin/contents_left' %>
<% content_for :contents_right do -%>
<h2><%= _('Listing %{model}') % {:model => _('board entry')} %></h2>

<div class="box tabular">
  <%= render :partial => '/admin/search_box' %>
  <%= render :partial => '/admin/shared/sortable_table',
             :locals => {
               :columns => %w[title contents category],
               :objects => @board_entries,
               :class_name => 'Admin::BoardEntry',
               :link_elem => [['Show','object'], ['Destroy','object',{:confirm => _('Are you sure?'), :method => :delete}]]
             }
  -%>
</div>
<br />

<% end -%>
