<%
  replace_advertisement_js = <<-RUBY
    // 広告のリプレイス
    var replaceBannerLink = function(ads) {
      ad = ads[Math.floor(Math.random() * ads.length)];
      jQuery('div#header > div.banner').html(
        jQuery('<a></a>')
        .attr('href', ad.advertisement.link_url)
        .attr('target', '_blank')
        .append(
          jQuery('<img></img>')
          .attr('src', ad.advertisement.image_url)
          .attr('alt', ad.advertisement.title)
          .css('height', '40px')
        )
      );
    };
    var url = '#{SkipEmbedded::InitialSettings['advertisements_url']}'
    if( url != '' )
      jQuery.getJSON(url, replaceBannerLink);
  RUBY
  replace_application_link_js = <<-RUBY
    // アプリメニューのリプレイス
    jQuery('div#application_link').html('#{application_link}');
  RUBY
  header_js = <<-RUBY
(function() {
    // ロゴのリプレイス
    jQuery('div#logo').replaceWith('#{header_logo_link}');
    #{replace_advertisement_js if SkipEmbedded::InitialSettings['advertisements_url']}
    #{replace_application_link_js if SkipEmbedded::InitialSettings['collaboration_apps']}
    jQuery('a#other_link')
    .toggle(function() {
        jQuery('div#other_links').css('left',jQuery('div#application_link').width()).show();
    }, function() {
        jQuery('div#other_links').hide();
    });
    jQuery('body')
    .click(function() {
        jQuery('div#other_links').hide();
    });
})(jQuery);
  RUBY
-%>
<%= header_js %>
