<%=
  <<-RUBY
(function() {
    // ロゴのリプレイス
    jQuery('div#logo').replaceWith('#{header_logo_link}');
    // 広告のリプレイス
    var replaceBannerLink = function(ads) {
      ad = ads[Math.floor(Math.random() * ads.length)];
      jQuery('div#header > div.banner').html(
        jQuery('<a></a>')
        .attr('href', ad.advertisement.link_url)
        .attr('target', '_blank')
        .append(
          jQuery('<img></img>')
          .attr('src', ad.advertisement.image_url)
          .attr('alt', ad.advertisement.title)
          .css('height', '45px')
        )
      );
    };
    var url = '#{INITIAL_SETTINGS['advertisements_url']}'
    // TODO Rubyのifで分岐させて出力自体しないようにする
    if( url != '' )
      jQuery.getJSON(url, replaceBannerLink);
    // アプリメニューのリプレイス
    jQuery('div#application_link').html('#{application_link}');
    jQuery('div#application_link a').each(function() {
      if(jQuery(this).attr('href').search(document.location.host) > 0)
        jQuery(this).replaceWith('<b>' + jQuery(this).text() + '</b>');
    });
})(jQuery);
  RUBY
%>
