<% %w(entry_access entry_comment entry_he user_access user_entry commentator).each do |contents_type| %>
  <div id="<%= contents_type -%>" style="float:left; margin-right: 10px;">
  <span class="indicator"><%= skip_image_tag 'indicator.gif' %></span>
  </div>
<% end %>
<div style="clear: left;"><br/></div>

<script type="text/javascript">
$j(function() {
    getRanking = function(contents_type, year, month){
        var url = relative_url_root + '/ranking_data/' + contents_type;
        if ( year != undefined ) {
            url = url + '/' + year;
            if ( month != undefined ) {
                url = url + '/' + month;
            }
        }
        $j.ajax({
            url: url,
            success: function(html) {
                $j('#' + contents_type).html(html);
            },
            error: function(request) {
                $j('#' + contents_type).html(request.responseText)
            }
        });
    };
});
</script>
