<% %w(entry_access entry_comment entry_he user_access user_entry commentator).each do |contents_type| %>
  <div id="<%= contents_type -%>" style="float:left; margin-right: 10px;">
  <span class="indicator"><%= skip_image_tag 'indicator.gif' %></span>
  </div>
<% end %>
<div style="clear: left;"><br/></div>

<% content_for :javascript_initializers do -%>
    getRanking = function(contents_type, year, month){
        var url = relative_url_root + '/ranking_data/' + contents_type;
        if ( year != undefined ) {
            url = url + '/' + year;
            if ( month != undefined ) {
                url = url + '/' + month;
            }
        }
        $j.ajax({
            url: url,
            success: function(html) {
                $j('#' + contents_type).html(html);
            },
<<<<<<< HEAD:app/views/rankings/_list.html.erb
            error: function(request) {
                $j('#' + contents_type).html(request.responseText)
=======
            error: function() {
                $j('#' + contents_type).html('<%= _("Failed to acquire rankings data.")%>')
>>>>>>> for_i18n:app/views/rankings/_list.html.erb
            }
        });
    };
<% end -%>
