<%=h _("Overall ranking of %s (Since the opening of the site up to yesterday. Updated daily)") % Admin::Setting.abbr_app_title %><br/>
<br />
<hr />
<br />
<h1 id="ranking_title"><%= icon_tag 'chart_bar' %><%= _('Overall Rankings')%></h1>
<br />
<%= render :partial => 'list' %>

<% content_for :javascript_initializers do -%>
    var contents_types = ['entry_access', 'entry_comment', 'entry_he', 'user_entry', 'user_access', 'commentator'];
    var loadRanking = function(){
        for( var i = 0; i < contents_types.length; i++)
            getRanking(contents_types[i]);
    };
    loadRanking();
<% end -%>
