<% CollaborationApp.using.each do |app| -%>
  <% app.feeds_by_view_place(params[:controller]).each do |feed_setting| -%>
    <div id="collaboration_apps">
      <%
        # FIXME すべてみるのリンク先を設定する
      %>
      <%= show_title_bar("rss", h(feed_setting['title']), {}) %>
      <%= skip_image_tag 'indicator.gif' %>
    </div>
    <% content_for :javascript_initializers do -%>
      $j.ajax({
          url: '<%= url_for(:controller => 'mypage', :action => 'collaboration_apps') %>',
          success: function(html) {
              $j('div#collaboration_apps').html(html);
          }
      });
    <% end -%>
  <% end -%>
<% end -%>
