config/database.yml
config/initial_settings.yml
config/common_menus.yml
db/schema.rb
log/*.log*
public/custom/*.html
public/custom/*
public/javascripts/jquery.all.js
public/javascripts/skip_embedded.js
public/services/skip_reflect_customized.js
public/stylesheets/skip.style.css
vendor/rails
vendor/plugins/haml
coverage
tmp/*
temp/*
pkg/*
*flymake.rb
*#*#
*.#*
webrat-*.html
rerun.txt
