こんにちは、<%= CUSTOM_RITERAL[:abbr_app_title] -%>事務局です。

現在あなたが管理しているグループでは、
「メールを自動的に掲示板へ投稿する」設定になっていますが、
メール投稿者の設定がグループの管理者以外になっています。

グループのメール管理で、投稿者を変更してください。
投稿者はグループの管理者の中から設定してください。
設定の変更は以下のページから可能です。

　<%= @link_url %>

(これまでにメールサーバにたまっているメールは、
設定の変更後に掲示板に投稿されます。)

<%= @footer %>
