<%= render :partial => '/admin/contents_left' %>
<% content_for :contents_right do -%>
<h2><%= _('Listing %{model}') % {:model => _('group participation')} %></h2>

<div class="box tabular">
  <%= render :partial => '/admin/shared/sortable_table',
             :locals => {
               :columns => %w[user waiting owned favorite],
               :objects => @group_participations,
               :class_name => 'Admin::GroupParticipation',
               :link_elem => [['Show','admin_group_group_participation_path(@group, object)'], ['Destroy','admin_group_group_participation_path(@group, object)',{:confirm => _('Are you sure?'), :method => :delete}]]
             }
  -%>
</div>
<br />

<%= link_to _('%{model} Show') % {:model => _('group')}, admin_group_path(@group) %>
<% end -%>
