<%= render :partial => '/admin/contents_left' %>
<% content_for :topic_path do -%>
<%= render :partial => '/admin/shared/topic_path' %>
<% end -%>
<% content_for :contents_right do -%>

<div class="box tabular">
  <%= render :partial => '/admin/shared/sortable_table',
             :locals => {
               :columns => %w[user waiting owned favorite],
               :objects => @group_participations,
               :class_name => 'Admin::GroupParticipation',
               :link_elem => [['Destroy','admin_group_group_participation_path(@group, object)',{:confirm => _('Are you sure?'), :method => :delete}]]
             }
  -%>
</div>
<% end -%>
