<%
 # ブログ・フォーラムの左側のボックス（月ごとのアーカイブ）
 # :locals => { :month_archives }
-%>

<div class="box_space">
  <div class="box_space_title"><%= icon_tag 'page_white_zip' -%><%= _('Monthly List')%></div>
  <div class="box_space_body" style="font-size: 10px;">
  <ul style="list-style-position: inside; list-style-type: disc;">
  <% @month_archives.each do |archive| -%>
    <% link_text =  _("%{month}/%{year} (%{count})") % {:year => archive.year, :month => archive.month, :count => archive.count} -%>
    <li><%= link_to link_text, :archive => "all", :year => archive.year, :month => archive.month -%></li>
  <% end -%>
  </ul>
  <br style="display: none; clear:left;" />
  </div>
  <div class="box_space_bottom"></div>
</div><!-- box_space -->
