<%
 # ブログ・フォーラムの左側のボックス（タグ）
 # :locals => { :categories }
-%>

<div class="box_space">
  <div class="box_space_title"><%= icon_tag 'tag_blue' -%><%= _('Tags')%></div>
  <div class="box_space_body">
  <ul>
  <% categories.each do |category| -%>
    <% text = link_to(h('[' + category + ']'), :category=>category, :sort_type=>h(params[:sort_type])) %>
    <li><%= (params[:category] == category) ? ('<b>' + text + '</b>') : text -%></li>
  <% end -%>
  </ul>
  </div>
  <div class="box_space_bottom"></div>
</div><!-- box_space -->

