<%
 # ブログ・フォーラムの左側のボックス（ユーザごとのアーカイブ）
 # :locals => { :user_archives }
-%>

<div class="box_space">
  <div class="box_space_title"><%= icon_tag 'user_comment' %><%= _('List of Authors')%></div>
  <div class="box_space_body" style="font-size: 10px;">
    <ul style="list-style-position: inside; list-style-type: disc;">
    <% user_archives.each do |archive| -%>
      <% link_text =  archive.user_name + " (" + archive.count + ")" -%>
      <li><%= link_to h(link_text), :archive => "all", :user_id => archive.user_id, :sort_type => h(params[:sort_type]) %></li>
    <% end -%>
    </ul>
    <br style="display: none; clear:left;" />
  </div>
  <div class="box_space_bottom"></div>
</div><!-- box_space -->
