<% content_for :topic_path do -%>
<%= render :partial => '/admin/shared/topic_path' %>
<% end -%>

<div class="box tabular">
  <% form_for(@user_profile_master_category) do |f| %>
  <%= render :partial => f %>
  <p>
    <%= f.submit _('Update'), :disable_with => _('Updating...') %>
  </p>
  <% end %>
</div>
