<% content_for :topic_path do -%>
<%= render :partial => '/admin/shared/topic_path' %>
<% end -%>
<div class="box tabular">
<% form_for(@user_profile_master_category) do |f| %>
<%= render :partial => f %>
  <p>
    <%= submit_tag _('Create'), :disable_with => _('Creating...') %>
  </p>
<% end %>
</div>
