<h3><%= _('Successfully added to antenna.')%></h3>

<div class="desc ui-corner-all margin05em">
  <%= _('Contents registered here can be checked in &quot;Home&quot; under &quot;My page&quot;.')%>
</div>

<div style="text-align: center; margin-top: 10px;">
  <a href="#" class="nyroModalClose" id="close_link"><%= _('[Close]')%></a>
</div>
<script type="text/javascript">
$j(function() {
    $j('#close_link')
    .click(function() {
        $j.nyroModalRemove();
    });
});
</script>
