<h3>アンテナに登録できました</h3>

<div class="desc">ここで登録した内容は、マイページのホームで確認できます。
</div>

<div style="text-align: center; margin-top: 10px;">
 <a href="#" class="nyroModalClose" id="close_link">【閉じる】</a>
</div>
<script type="text/javascript">
$j(function() {
    $j('#close_link')
    .click(function() {
        $j.nyroModalRemove();
    });
});
</script>
