<div class="search_box">
  <% form_tag({:action => :index}, {:method => :get}) do -%>
  <%= text_field_tag :query, @query %>
  <%= submit_tag _('Search'), :disable_with => _('Searching...') %>
  <span style="margin-left: 10px;"><%= _('項目全体から検索を行ないます') %></span>
  <% end -%>
</div>
