<% @mails =<<EOF
<?xml version="1.0" encoding="UTF-8"?>
<feed version="0.3" xmlns="http://purl.org/atom/ns#">
<title>Gmail - Inbox for beautybeast07@gmail.com</title>
<tagline>New messages in your Gmail Inbox</tagline>
<fullcount>7</fullcount>
<link rel="alternate" href="http://mail.google.com/mail" type="text/html" />
<modified>2010-03-16T09:21:00Z</modified>
<entry>
<title>［週刊＠ITイベントカレンダー：3月23～29日号］Flash Builder 4やCatalystなどRIA開発者注目のツール紹介</title>
<summary>このメールは＠ITクラブ・メンバーの皆さんがご自身で興味のある分野 ...</summary>
<link rel="alternate" href="http://mail.google.com/mail?account_id=beautybeast07%40gmail.com&amp;message_id=127663042b82ebf2&amp;view=conv&amp;extsrc=atom" type="text/html" />

<modified>2010-03-16T08:56:31Z</modified>
<issued>2010-03-16T08:56:31Z</issued>
<id>tag:gmail.google.com,2004:1330359609495579634</id>
<author>
<name>membership</name>
<email>membership@atmarkit.co.jp</email>
</author>
</entry>
<entry>
<title>豪華付録つきキャス＆話題の極太麺登場！3/15分売れ筋速報【楽天ランキング市場ニュース】(2010/03/16)</title>
<summary>楽天ランキング市場ニュース 2010年3月16日 No.1416 ランキング市場へ 楽天 ...</summary>

<link rel="alternate" href="http://mail.google.com/mail?account_id=beautybeast07%40gmail.com&amp;message_id=127662ee928ca7e3&amp;view=conv&amp;extsrc=atom" type="text/html" />
<modified>2010-03-16T08:55:02Z</modified>
<issued>2010-03-16T08:55:02Z</issued>
<id>tag:gmail.google.com,2004:1330359516734990307</id>
<author>
<name>楽天ランキング市場ニュース</name>
<email>ranking@emagazine.rakuten.co.jp</email>
</author>
</entry>
<entry>
<title>【4月17日】あなたの人生を変える「話し方」を手に入れませんか？</title>

<summary>日経ビジネスアソシエ スキルアップセミナー ...</summary>
<link rel="alternate" href="http://mail.google.com/mail?account_id=beautybeast07%40gmail.com&amp;message_id=12765d667cb1f5bf&amp;view=conv&amp;extsrc=atom" type="text/html" />
<modified>2010-03-16T07:18:22Z</modified>
<issued>2010-03-16T07:18:22Z</issued>
<id>tag:gmail.google.com,2004:1330353434694645183</id>
<author>
<name>groupb</name>
<email>groupb@nikkeibp.co.jp</email>
</author>
</entry>
<entry>

<title>50ポイントプレゼント！締め切りまであと7日！【楽天アフィリエイト】(2010/03/16)</title>
<summary>楽天ツールバー】検索で毎日ポイントが貯まる！ Windows XP SP2をご利用で ...</summary>
<link rel="alternate" href="http://mail.google.com/mail?account_id=beautybeast07%40gmail.com&amp;message_id=12765bb4ac00fdbc&amp;view=conv&amp;extsrc=atom" type="text/html" />
<modified>2010-03-16T06:48:45Z</modified>
<issued>2010-03-16T06:48:45Z</issued>
<id>tag:gmail.google.com,2004:1330351571472547260</id>
<author>
<name>楽天アフィリエイト</name>
<email>affiliate@emagazine.rakuten.co.jp</email>
</author>

</entry>
<entry>
<title>[mixi] サンシャイン牧場 / 桜が咲き誇る季節になりました、緑溢れる自然の中で一… (アプリ更新情報)</title>
<summary>http://mixi.jp ...</summary>
<link rel="alternate" href="http://mail.google.com/mail?account_id=beautybeast07%40gmail.com&amp;message_id=127659538665efe8&amp;view=conv&amp;extsrc=atom" type="text/html" />
<modified>2010-03-16T06:07:10Z</modified>
<issued>2010-03-16T06:07:10Z</issued>
<id>tag:gmail.google.com,2004:1330348955206545384</id>
<author>
<name>mixi</name>
<email>news@mixi.jp</email>

</author>
</entry>
<entry>
<title>400ポイント付き★サントリー『セサミンEプラス』ゴマのちからを1粒に【楽天カードニュース】(2010/03/16)</title>
<summary>楽天カードニュース 2010/03/16 ...</summary>
<link rel="alternate" href="http://mail.google.com/mail?account_id=beautybeast07%40gmail.com&amp;message_id=127659150fba84a9&amp;view=conv&amp;extsrc=atom" type="text/html" />
<modified>2010-03-16T06:02:54Z</modified>
<issued>2010-03-16T06:02:54Z</issued>
<id>tag:gmail.google.com,2004:1330348686927627433</id>
<author>
<name>楽天カードニュース</name>

<email>cardnews@enavi.rakuten-kc.co.jp</email>
</author>
</entry>
<entry>
<title>クラウドホワイトペーパー無料プレゼント！[SEMS News 号外 2010-03-16]</title>
<summary>SEMSニュース 号外 (2010.03.16) http://sems.shoeisha.com ...</summary>
<link rel="alternate" href="http://mail.google.com/mail?account_id=beautybeast07%40gmail.com&amp;message_id=127645d41b8b0745&amp;view=conv&amp;extsrc=atom" type="text/html" />
<modified>2010-03-16T24:26:25Z</modified>
<issued>2010-03-16T24:26:25Z</issued>
<id>tag:gmail.google.com,2004:1330327517232039749</id>
<author>

<name>SEMS事務局</name>
<email>sems_support@sems.shoeisha.com</email>
</author>
</entry>
</feed>
EOF
-%>

<% xml_doc = REXML::Document.new @mails -%>

<div class="ui-corner-all" id="questions_wrapper">
  <h2 class="ui-corner-top"><%= link_to("メール") %></h2>
  <div id="gapps_mail" style="text-align: left">
    <% xml_doc.elements.each("feed/entry") do |mail| -%>
      <div><%= link_to(h(truncate(mail.elements['title'].text, 30)), mail.elements['link'].attribute("href").to_s) %> - <%= h(truncate(mail.elements['author/name'].text, 10)) %></div>
    <% end -%>
  </div>
</div>
