<div class="ui-corner-all" id="questions_wrapper">
  <h2 class="ui-corner-top"><%= link_to("店舗matic (新着お知らせ)") %></h2>
    <div id="tenpo_notice" style="text-align: left">
      <div>[通常] <%= link_to("テスト登録") %> - ネクスウェイ</div>
      <div>[重要] <%= link_to("wiki文書を使用したお知らせ") %> - ネクスウェイ</div>
    </div>
</div>
