<%= render :partial => '/admin/contents_left' %>
<% content_for :contents_right do -%>
<h2><%= _('Listing %{model}') % {:model => _('bookmark comment')} %></h2>

<div class="box tabular">
  <%= render :partial => '/admin/shared/sortable_table',
             :locals => {
               :columns => %w[comment public tags stared],
               :objects => @bookmark_comments,
               :class_name => 'Admin::BookmarkComment',
               :link_elem => [['Show','admin_bookmark_bookmark_comment_path(@bookmark, object)'], ['Destroy','admin_bookmark_bookmark_comment_path(@bookmark, object)',{:confirm => _('Are you sure?'), :method => :delete}]]
             }
  -%>
</div>
<br />

<% end -%>
