<div class="block"><%= render :partial => 'admin/group_categories/index' %></div>
<div class="block"><%= render :partial => 'admin/user_profile_master_categories/index' %></div>
<div class="block"><%= render :partial => 'admin/user_profile_masters/index' %></div>
