// ============================================================
// 1. 共通
// ============================================================

// グローバル変数定義
// ------------------------------------------------------------
!base_color = #555
!base_background_color = #fff
!base_font_size = 12px
!small_font_size = 10px
!base_border = 1px solid #ccc

// Mix-in
// ------------------------------------------------------------
=base_text
  :font
    :size = !base_font_size
    :family Verdana, Arial, sans-serif
  :color = !base_color
=form_text
  :font
    :size = !base_font_size
    :family Verdana, Arial, sans-serif
  :color = #000
=link_text
  :text-decoration none
  :color #0080dd
=link_hover_text
  :color blue
  :text-decoration underline

// 基本スタイル
// ------------------------------------------------------------
*
  :margin 0
  :padding 0

body
  +base_text
  :position absolute
  :left 0
  :margin 0
  :text-align left
  :background-color = !base_background_color
  :width 100%

img
  :vertical-align middle
  :border 0

a
  +link_text
  &:hover
    +link_hover_text

form
  :padding 0px
  :margin 0px
  input
    +form_text
    :margin 0px
    :padding 2px
  select
    +form_text
    :margin 0 2px 0 0
    :padding 0
    :letter-spacing 2px
    :z-index 0
  textarea
    +form_text
    :margin 0px
    :padding 2px

table
  :font-size = !base_font_size
  :table-layout fixed
  :border-collapse collapse

// 特定の機能用ではない汎用css
// ------------------------------------------------------------
.pointer
  :cursor pointer

.move
  :cursor move

.link
  +link_text
.link:hover
  +link_hover_text

.margin10
  :margin 10px

// Railsのvalidation error用
// ------------------------------------------------------------
.fieldWithErrors
  // 管理画面のform内部をtableにしたらdisplayをtableにする
  // :display table
  :display inline
  :border 1px solid pink
  // IE6対策
  :_display inline
  :_background-color pink
  :_border 1px solid pink
  label
    :background-color pink
.richtext div.fieldWithErrors
  :border 1px solid pink
  :display block

// サイドカラムに配置するボックス
// ------------------------------------------------------------
div.box_space
  :background-color = !base_background_color
  :border
    :top = !base_border
    :right 2px solid #ccc
    :bottom 2px solid #aaa
    :left = !base_border
  :padding 1px
  :margin-bottom 5px
  div.box_space_title
    :padding 1px
    :border-top = !base_border
    :border-left = !base_border
    :font
      :size 15px
      :weight bold
    :color #03c
    :background-image url(./../images/label_bar.png)
    span.small
      :font-size 10px
      :margin-left 3px
  div.box_space_body
    :text-align left
    :margin 2px
    :word-break break-all
    :overflow hidden
    ul
      :list-style-type none
  div.box_space_img_body
    :text-align center
    :margin 2px
  div.box_space_bottom
    :text-align right
    :border-right = !base_border
    :border-bottom = !base_border
    :padding 1px
    :font-size 10px

// 記事やブックマークのリスト表示
// ------------------------------------------------------------
h2.topix_title
  :border-top = !base_border
  :border-bottom 1px dashed #ccc
  :padding 4px 0px 2px 7px
  :background-color #f3f3ff
  :background-image url(./../images/skip/gradient.png)
  :font
    :size 16px
    :weight bold
  :color #003399
  :vertical-align bottom
  :margin-left 5px
div.topix_body
  :margin 0px 0px 10px 5px
  a:visited
    :color purple
  .page_line, .item_line
    :border-bottom 1px dotted silver
    :padding 1px 2px 3px 2px
    :margin-bottom 2px
  .page_reading
    :float left
    // IEのバグで正しく解釈されない
    :margin-right 5px
  .page_title
    :float left
    :white-space nowrap
    :overflow hidden
    :text-overflow ellipsis
    :width 65%
  .page_from
    :float left
    :white-space nowrap
    :overflow hidden
    :text-overflow ellipsis
    :width 70px
    // IEのバグで正しく解釈されない
    :margin-left 5px
  .page_date, .item_date
    :text-align right
    :font-size 10px
  .item_name
    :float left
    :white-space nowrap
    :overflow hidden
    :text-overflow ellipsis
    :width 120px
    // IEのバグで正しく解釈されない
    :margin-right 15px
  .item_desc
    :float left
    :white-space nowrap
    :overflow hidden
    :text-overflow ellipsis
    :width 50%

// 編集フォーム(共通)
// ------------------------------------------------------------
h2.subtitle
  :border
    :bottom 1px solid #aaf
    :left 10px solid #aaf
  :font
    :size = !base_font_size
    :weight bold
  :margin 5px 0px 5px 0px
  :padding 3px 0px 0px 5px
  span.description
    :font-weight normal

// 編集フォーム(テーブルレイアウト)
// ------------------------------------------------------------
table.normal
  :border = !base_border
  tr.line_0
    :background-color #f8f8ff
  tr.line_1
    :background-color #fff
  th
    :background-color #f0f0ff
    form &
      :text-align left
  th, td
    :border = !base_border
    :padding 1px 4px
table.user_info
  :width 95%
  th
    :width 100px

// ============================================================
// 2. 共通の構造
// ============================================================
div#contents_container
  :width 100%
  :margin
    :left auto
    :right auto
  :text-align left
  .content
    :margin-bottom 20px
  div#contents_left
    :float left
    :width 150px
  div#contents_right
    :margin-left 160px
    :_width 100%
  div#contents_bottom
    :width 100%
    :clear left

// ============================================================
// 3. 通常機能
// ============================================================

// マイページ
// ------------------------------------------------------------
div.top_info
  :margin-bottom 5px
  :padding 3px 10px
  :background-color #f5f5ff
  &.system_message
    :border 2px dotted #a0a0ff
  &.important_message
    :border 2px dotted #ffc000
    :font
      :size 14px
      :weight bold

div#mypage_left
  :margin-right 160px
  // IEでカラム落ちが発生しないように以下を設定
  :_width 100%
div#mypage_right
  :float right
  :width 150px

// 記事
// ------------------------------------------------------------
span.share_file_uploader.trigger
  :font-size = !small_font_size
  :margin-left 5em

// 共有ファイルアップローダー
// ------------------------------------------------------------
.share_file.upload
  iframe
    :border 0
    :overflow hidden
  div.form
    :width 100%
    :height 9em
    iframe
      :width 100%
      :height 100%
  div.target
    :width 0
    :height 0
    iframe
      :width 0
      :height 0

div#share_file_uploader.enabled
  :z-index 1
  :position absolute
  :background #ffffff
  :width 500px
  :border 2px solid #99c

  .title_bar
    :position relative
    :background = #99c + #333
    :border-bottom 1px solid #99c
    h3
      :margin-bottom 5px

    div.operation
      :font-size = !small_font_size
      :float right
      :position absolute
      :right 2px
      :top 2px
      span.link
        :margin-left 2px

  span.insert_link, span.operation
    :display block
    :font-size = !small_font_size

  div.share_files
    :overflow auto
    :height 300px

    table
      :width 95%
      :margin 0 auto
      :border-collapse collapse
      tr, th, td
        :border 1px solid #DDDDFF
      th, td
        :text-align center
      td.thumbnail
        :width 200px
      td.insert
        :width 6em
    div.paginate
      :text-align right
      span.info
        :margin-right 5px
      span.first_link, span.previous_link, span.next_link, span.last_link
        :font-size = !small_font_size

// ============================================================
// 4. 管理機能
// ============================================================

// 管理機能共通
// ------------------------------------------------------------
// タイトル
h3.topics
  :background-color #f0f0ff
  :border
    :top 3px double silver
    :bottom 1px dashed silver
  :margin-bottom 2px
  :padding 0 0 0 7px

// 表タイプの設定項目
div.box.tabular
  :color #505050
  :background-color #f6f6f6
  :border 1px solid #e4e4e4
  :line-height 1.5em
  :padding 2px
  :margin-bottom 5px
  :overflow-x auto
  :width 100%
  label
    :float left
    :font-weight bold
    :text-align right
    :width 200px
  p
    :overflow hidden
    :height 1%
    :margin 0
    :padding 5px 0px 8px 0px
  p.initial_setting
    :padding 1px 0px 1px 0px

// ポップアップヘルプ
span.ss_help
  :vertical-align top

// 設定・管理 > データ管理
// ------------------------------------------------------------

// 検索ボックス
div.search_box
  :background-color #ffffff
  :border 2px solid #cccccc
  :margin 5px
  :padding 6px 8px

// jquery.tablesorter用(並べ可能テーブル)
table.sortable
  :text-align left
  :width 97%
  :margin 5px auto
  thead tr th, tfoot tr th
    :padding 4px 20px 4px 4px
    :white-space nowrap
  thead tr
    th.header
      :background
        :image url(/images/skip/jquery/tablesorter/bg.gif)
        :repeat no-repeat
        :position center right
      :cursor pointer
    th.headerSortUp
      :background-image url(/images/skip/jquery/tablesorter/asc.gif)
    th.headerSortDown
      :background-image url(/images/skip/jquery/tablesorter/desc.gif)
    td.link
      :width 3em
  tbody tr td
    :white-space nowrap
    :overflow hidden

// jquery.columnmanager用
div#table_columns
  :background-color #ffffff
  :border 2px solid #cccccc
  :margin 5px
  // :padding 6px 8px
  h4
    :background-color #fffeeb
    :border-bottom 1px solid #dddddd
    :padding 2px
    :font
      :weight normal
      :size 1em
  ul
    :list-style none
  li
    :margin-left 5px
    :display inline
    :cursor pointer
  li.visible
    :color #555
    :font-weight bold
    :text-decoration underline
  li.invisible
    :color = #999

// ワンタイムURL確認ダイアログ
div.onetime_url
  :font
    :weight bold
    :size 1em
  p
    :padding 10px

// 設定・管理 > RSSフィード設定
// ------------------------------------------------------------
div.feed_item
  :border 1px dotted blue
  :width 90%
  :margin-bottom 8px

