// ============================================================
// 1. 共通
// ============================================================

// ------------------------------------------------------------
// グローバル変数定義
// ------------------------------------------------------------
!small_font_size = 10px

// ------------------------------------------------------------
// 特定の機能用ではない共通css
// ------------------------------------------------------------
.pointer
  cursor: pointer

.move
  cursor: move

.link
  color: #0080DD
.link:hover
  color: blue

// ============================================================
// 2. 通常機能
// ============================================================

// ------------------------------------------------------------
// 記事
// ------------------------------------------------------------
span.share_file_uploader.trigger
  :font-size = !small_font_size
  :margin-left 5em

// ------------------------------------------------------------
// 共有ファイルアップローダー
// ------------------------------------------------------------
.share_file.upload
  iframe
    :border 0
    :overflow hidden
  div.form
    :width 100%
    :height 9em
    iframe
      :width 100%
      :height 100%
  div.target
    :width 0
    :height 0
    iframe
      :width 0
      :height 0

div#share_file_uploader.enabled
  :z-index 1
  :position absolute
  :background #ffffff
  :width 500px
  :border 2px solid #99c

  .title_bar
    :position relative
    :background = #99c + #333
    :border-bottom 1px solid #99c
    h3
      :margin-bottom 5px

    div.operation
      :font-size = !small_font_size
      :float right
      :position absolute
      :right 2px
      :top 2px
      span.link
        :margin-left 2px

  span.insert_link, span.operation
    :display block
    :font-size = !small_font_size

  div.share_files
    :overflow auto
    :height 300px

    table
      :width 95%
      :margin 0 auto
      :border-collapse collapse
      tr, th, td
        :border 1px solid #DDDDFF
      th, td
        :text-align center
      td.thumbnail
        :width 200px
      td.insert
        :width 6em
    div.paginate
      :text-align right
      span.info
        :margin-right 5px
      span.first_link, span.previous_link, span.next_link, span.last_link
        :font-size = !small_font_size

// ============================================================
// 3. 管理機能
// ============================================================

// ------------------------------------------------------------
// jquery.columnmanager用
// ------------------------------------------------------------
div#table_columns
  :background-color #f0f0ff
  :border 2px dotted #ffc000
  :margin 5px
  :padding 6px 8px
  ul
    :list-style none
  li
    :margin-left 5px
    :display inline
    :cursor pointer
  li.visible
    :color #555
    :font-weight bold
    :text-decoration underline
  li.invisible
    :color = #999
