<% content_for :topic_path do -%>
<%= render :partial => '/admin/shared/topic_path' %>
<% end -%>

<div class="box">
  <% form_for([@user, @picture], :html => {:multipart => true}) do |f| -%>
    <%= render f %>
    <p>
      <%= f.submit _('Upload'), :disable_with => _('Now Uploading...') %>
    </p>
  <% end -%>
</div>
