* {
  margin: 0;
  padding: 0; }

body {
  font-size: 12px;
  font-family: Verdana, Arial, sans-serif;
  font-weight: normal;
  color: #555555;
  position: absolute;
  left: 0;
  margin: 0;
  text-align: left;
  background-color: #ffffff;
  width: 100%; }

img {
  vertical-align: middle;
  border: 0; }

a {
  text-decoration: none;
  color: #0080dd; }
  a:hover {
    color: blue;
    text-decoration: underline; }

form {
  padding: 0px;
  margin: 0px; }
  form input {
    font-size: 12px;
    font-family: Verdana, Arial, sans-serif;
    color: #000000;
    margin: 0px;
    padding: 2px; }
  form select {
    font-size: 12px;
    font-family: Verdana, Arial, sans-serif;
    color: #000000;
    margin: 0 2px 0 0;
    padding: 0;
    letter-spacing: 2px;
    z-index: 0; }
  form textarea {
    font-size: 12px;
    font-family: Verdana, Arial, sans-serif;
    color: #000000;
    margin: 0px;
    padding: 2px; }

table {
  font-size: 12px;
  table-layout: fixed;
  border-collapse: collapse; }

ul.ui-tabs-nav {
  height: 100%;
  display: inline-block; }
  ul.ui-tabs-nav:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html ul.ui-tabs-nav {
    height: 1px; }

div#header {
  position: relative;
  height: 70px; }
  div#header div#global_top {
    border-bottom: 1px dashed #ccc;
    height: 20px; }
    div#header div#global_top div#application_link, div#header div#global_top div#menu {
      padding: 4px 5px; }
    div#header div#global_top div#application_link {
      float: left; }
    div#header div#global_top div#menu {
      position: absolute;
      top: 0;
      right: 0;
      border: none;
      font-size: 12px;
      text-align: right; }
  div#header div#logo {
    float: left;
    vertical-align: top;
    margin: 1px 0 0 10px; }
  div#header div.banner {
    height: 45px;
    width: 450px;
    margin: 1px 0 0 160px; }
  div#header div#search {
    position: absolute;
    bottom: 0px;
    right: 0px; }

div#top {
  clear: both;
  border-bottom: 1px solid #cccccc; }

.pointer {
  cursor: pointer; }

.move {
  cursor: move; }

.link {
  text-decoration: none;
  color: #0080dd; }

.link:hover {
  color: blue;
  text-decoration: underline; }

.margin10 {
  margin: 10px; }

.fieldWithErrors {
  display: inline;
  border: 1px solid pink;
  _display: inline;
  _background-color: pink;
  _border: 1px solid pink; }
  .fieldWithErrors label {
    background-color: pink; }

.richtext div.fieldWithErrors {
  border: 1px solid pink;
  display: block; }

div.box_space {
  background-color: #ffffff;
  border-top: 1px solid #cccccc;
  border-right: 2px solid #ccc;
  border-bottom: 2px solid #aaa;
  border-left: 1px solid #cccccc;
  padding: 1px;
  margin-bottom: 5px; }
  div.box_space div.box_space_title {
    padding: 1px;
    border-top: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    font-size: 15px;
    font-weight: bold;
    color: #03c;
    background-image: url(./../images/label_bar.png); }
    div.box_space div.box_space_title span.small {
      font-size: 10px;
      margin-left: 3px; }
  div.box_space div.box_space_body {
    text-align: left;
    margin: 2px;
    word-break: break-all;
    overflow: hidden; }
    div.box_space div.box_space_body ul {
      list-style-type: none; }
      div.box_space div.box_space_body ul li select {
        font-size: 13px;
        border: 1px solid #cccccc;
        vertical-align: middle;
        padding: 1px;
        width: 100px; }
    div.box_space div.box_space_body span.category_count {
      font-size: 10px;
      color: #ccc; }
  div.box_space div.box_space_img_body {
    text-align: center;
    margin: 2px; }
  div.box_space div.box_space_bottom {
    text-align: right;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    padding: 1px;
    font-size: 10px; }

table.calendar {
  border: none;
  border-collapse: separate;
  width: 100%;
  _width: 94%; }
  table.calendar tr, table.calendar th, table.calendar td {
    text-align: center; }
  table.calendar tr.monthName, table.calendar tr.dayName {
    background-color: #abf; }
  table.calendar td.day {
    background-color: #f0f0ff; }
  table.calendar td.holiday {
    background-color: #ffe0e0; }
  table.calendar td.today {
    background-color: #c0ffc0; }
  table.calendar td.selected {
    background-color: #ffffa0; }

div.box.message {
  font-size: 12px;
  margin-bottom: 5px;
  padding: 3px 10px;
  background-color: #f0f0ff;
  border: 1px dashed #ffc000; }

h2.topix_title {
  border-top: 1px solid #cccccc;
  border-bottom: 1px dashed #ccc;
  padding: 4px 0px 2px 7px;
  background-color: #f3f3ff;
  background-image: url(./../images/skip/gradient.png);
  font-size: 16px;
  font-weight: bold;
  color: #003399;
  vertical-align: bottom;
  margin-left: 5px;
  margin-bottom: 5px; }

div.topix_body {
  margin: 0px 0px 10px 5px; }
  div.topix_body a:visited {
    color: purple; }
  div.topix_body .page_line, div.topix_body .item_line {
    border-bottom: 1px dotted silver;
    padding: 1px 2px 3px 2px;
    margin-bottom: 2px; }
  div.topix_body .page_reading {
    float: left;
    margin-right: 5px; }
  div.topix_body .page_title {
    float: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 65%; }
  div.topix_body .page_from {
    float: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 70px;
    margin-left: 5px; }
  div.topix_body .page_date, div.topix_body .item_date {
    text-align: right;
    font-size: 10px; }
  div.topix_body .item_name {
    float: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 120px;
    margin-right: 15px; }
  div.topix_body .item_desc {
    float: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 50%; }

h2.subtitle {
  border-bottom: 1px solid #aaf;
  border-left: 10px solid #aaf;
  font-size: 12px;
  font-weight: bold;
  margin: 5px 0px 5px 0px;
  padding: 3px 0px 0px 5px; }
  h2.subtitle span.description {
    font-weight: normal; }

div.box.relative100 {
  position: relative;
  width: 100%;
  margin-bottom: 10px; }
  div.box.relative100 div.operation {
    position: absolute;
    top: 5px;
    right: 10px; }

table.normal {
  border: 1px solid #cccccc;
  width: 95%; }
  table.normal tr.line_0 {
    background-color: #f8f8ff; }
  table.normal tr.line_1 {
    background-color: #fff; }
  table.normal th {
    background-color: #f0f0ff; }
    form table.normal th {
      text-align: left; }
  table.normal th, table.normal td {
    border: 1px solid #cccccc;
    padding: 1px 4px; }

table.user_info th {
  width: 120px;
  text-align: left; }
table.user_info.show {
  border: none; }
  table.user_info.show tr {
    line-height: 24px;
    border: none;
    border-bottom: 1px dotted #ccc; }
  table.user_info.show td, table.user_info.show th {
    border: none;
    border-bottom: 1px dotted #ccc; }

table.user_chain th {
  width: 80px;
  text-align: center; }

div#contents_container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: left; }
  div#contents_container .content {
    margin-bottom: 20px; }
  div#contents_container div#contents_left {
    float: left;
    width: 150px; }
  div#contents_container div#contents_right {
    margin-left: 160px;
    _width: 100%; }
  div#contents_container div#contents_bottom {
    width: 100%;
    clear: left; }

div.top_info {
  margin-bottom: 5px;
  padding: 3px 10px;
  background-color: #f5f5ff; }
  div.top_info.system_message {
    border: 2px dotted #a0a0ff; }
  div.top_info.important_message {
    border: 2px dotted #ffc000;
    font-size: 14px;
    font-weight: bold; }

div#mypage_left {
  margin-right: 160px;
  _width: 100%; }

div#mypage_right {
  float: right;
  width: 150px; }

div#antennas_list_container {
  margin: 10px 10px 5px 10px; }

div#add_antenna_area {
  margin: 0 10px 10px 10px;
  border: 1px solid #cccccc;
  background-color: #f0f0ff; }

div.user_box {
  position: relative;
  margin: 5px 10px;
  width: 95%; }
  div.user_box div.operation {
    position: absolute;
    top: 2px;
    right: 5px; }

table.user_box {
  width: 100%;
  border: 1px solid #cccccc; }
  table.user_box th {
    width: 20%;
    background-color: #f0f0ff;
    padding-left: 5px;
    border: 1px solid #cccccc; }
  table.user_box td {
    padding-left: 5px;
    border: 1px solid #cccccc; }
    table.user_box td.image {
      padding: 0px;
      width: 130px;
      text-align: center; }

span.share_file_uploader.trigger {
  font-size: 14px;
  margin-left: 1em; }

div#board_entry_comments {
  border-right: 1px dotted #e0e0ff;
  padding-right: 3px;
  margin-top: 5px; }
  div#board_entry_comments div.board_entry_comment {
    border-bottom: 2px solid silver;
    border-left: 1px dotted #e0e0ff;
    border-top: 1px dotted #e0e0ff;
    margin-bottom: 5px;
    _width: 100%; }
    div#board_entry_comments div.board_entry_comment div.header {
      border-bottom: 1px dotted #aaa;
      position: relative;
      height: 1.5em;
      padding: 1px 5px;
      vertical-align: text-bottom;
      _width: 100%; }
      div#board_entry_comments div.board_entry_comment div.header span.title, div#board_entry_comments div.board_entry_comment div.header span.buttons {
        position: absolute;
        bottom: 0; }
      div#board_entry_comments div.board_entry_comment div.header span.title {
        left: 2px; }
        div#board_entry_comments div.board_entry_comment div.header span.title span.date {
          font-size: 0.8em; }
        div#board_entry_comments div.board_entry_comment div.header span.title.current_user {
          background-color: #ffefcc; }
      div#board_entry_comments div.board_entry_comment div.header span.buttons {
        right: 2px; }

div.bookmark_space {
  border: 1px solid #cccccc;
  width: 98%;
  text-align: left;
  margin: 3px auto;
  position: relative;
  font-size: 10px;
  overflow: hidden; }
  div.bookmark_space div.header, div.bookmark_space div.title {
    margin: 0;
    border-bottom: 1px dashed #ccc;
    padding: 0;
    background-color: #ffffff;
    font-size: 12px;
    font-family: Verdana, Arial, sans-serif;
    font-weight: normal;
    color: #555555; }
    div.bookmark_space div.header span.other_user_count,     div.bookmark_space div.title span.other_user_count {
      font-size: 10px; }
  div.bookmark_space div.header {
    background-color: #ffeeff; }
  div.bookmark_space div.title {
    font-size: 12px; }
  div.bookmark_space div.description {
    font-size: 12px;
    text-align: right; }
    div.bookmark_space div.description span.tags {
      color: blue; }

div.edit_form_space.bookmark.edit {
  height: 500px;
  border: none;
  margin: 5px; }
  div.edit_form_space.bookmark.edit div.update_form_wrapper {
    margin-top: 5px; }
    div.edit_form_space.bookmark.edit div.update_form_wrapper table {
      table-layout: auto;
      width: 100%; }
      div.edit_form_space.bookmark.edit div.update_form_wrapper table th {
        background-color: #f0f0ff;
        font-weight: bold;
        font-size: 12px;
        padding: 1px 5px;
        border: 1px solid #cccccc; }
      div.edit_form_space.bookmark.edit div.update_form_wrapper table td {
        border: 1px solid #cccccc; }
        div.edit_form_space.bookmark.edit div.update_form_wrapper table td.operation {
          text-align: center; }

div.bookmark.show {
  border-bottom: 1px solid #cccccc;
  padding-bottom: 5px;
  margin-bottom: 10px;
  position: relative; }
  div.bookmark.show div.title {
    font-size: 16px;
    font-weight: bold;
    background-color: #f0f0ff;
    padding: 2px; }

.share_file.upload iframe {
  border: 0;
  overflow: hidden; }
.share_file.upload div.form {
  width: 100%;
  height: 9em; }
  .share_file.upload div.form iframe {
    width: 100%;
    height: 100%; }
.share_file.upload div.target {
  width: 0;
  height: 0; }
  .share_file.upload div.target iframe {
    width: 0;
    height: 0; }

div#share_file_uploader.enabled {
  z-index: 1;
  position: absolute;
  background: #ffffff;
  width: 500px;
  border: 2px solid #99c; }
  div#share_file_uploader.enabled .title_bar {
    position: relative;
    background: #ccccff;
    border-bottom: 1px solid #99c; }
    div#share_file_uploader.enabled .title_bar h3 {
      margin-bottom: 5px; }
    div#share_file_uploader.enabled .title_bar div.operation {
      font-size: 10px;
      float: right;
      position: absolute;
      right: 2px;
      top: 2px; }
      div#share_file_uploader.enabled .title_bar div.operation span.link {
        margin-left: 2px; }
  div#share_file_uploader.enabled span.insert_link, div#share_file_uploader.enabled span.operation {
    display: block;
    font-size: 10px; }
  div#share_file_uploader.enabled div.share_files {
    overflow: auto;
    height: 300px; }
    div#share_file_uploader.enabled div.share_files table {
      width: 95%;
      margin: 0 auto;
      border-collapse: collapse; }
      div#share_file_uploader.enabled div.share_files table tr, div#share_file_uploader.enabled div.share_files table th, div#share_file_uploader.enabled div.share_files table td {
        border: 1px solid #DDDDFF; }
      div#share_file_uploader.enabled div.share_files table th, div#share_file_uploader.enabled div.share_files table td {
        text-align: center; }
      div#share_file_uploader.enabled div.share_files table td.thumbnail {
        width: 200px; }
      div#share_file_uploader.enabled div.share_files table td.insert {
        width: 6em; }
    div#share_file_uploader.enabled div.share_files div.paginate {
      text-align: right; }
      div#share_file_uploader.enabled div.share_files div.paginate span.info {
        margin-right: 5px; }
      div#share_file_uploader.enabled div.share_files div.paginate span.first_link, div#share_file_uploader.enabled div.share_files div.paginate span.previous_link, div#share_file_uploader.enabled div.share_files div.paginate span.next_link, div#share_file_uploader.enabled div.share_files div.paginate span.last_link {
        font-size: 10px; }
  div#share_file_uploader.enabled div.messages {
    border: 1px solid red;
    margin: 3px;
    background-color: pink; }

h3.topics {
  background-color: #f0f0ff;
  border-top: 3px double silver;
  border-bottom: 1px dashed silver;
  margin-bottom: 2px;
  padding: 0 0 0 7px; }

div.box {
  color: #505050;
  background-color: #f6f6f6;
  border: 1px solid #e4e4e4;
  padding: 2px;
  margin-bottom: 5px;
  width: 100%; }
  div.box.tabular {
    overflow-x: auto;
    line-height: 1.5em; }
    div.box.tabular label {
      float: left;
      font-weight: bold;
      text-align: right;
      width: 200px; }
    div.box.tabular p {
      overflow: hidden;
      height: 1%;
      margin: 0;
      padding: 5px 0px 8px 0px; }
    div.box.tabular p.initial_setting {
      padding: 1px 0px 1px 0px; }
  div.box div.upload_area {
    background-color: #f0f0ff;
    border: 2px dotted #ffc000;
    margin: 5px;
    padding: 5px; }

span.ss_help {
  vertical-align: top; }

div.search_box {
  background-color: #ffffff;
  border: 2px solid #cccccc;
  margin: 5px;
  padding: 6px 8px; }

table.sortable {
  text-align: left;
  width: 97%;
  margin: 5px auto; }
  table.sortable thead tr th, table.sortable tfoot tr th {
    padding: 4px 20px 4px 4px;
    white-space: nowrap; }
  table.sortable thead tr th.header {
    background-image: url(/images/skip/jquery/tablesorter/bg.gif);
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer; }
  table.sortable thead tr th.headerSortUp {
    background-image: url(/images/skip/jquery/tablesorter/asc.gif); }
  table.sortable thead tr th.headerSortDown {
    background-image: url(/images/skip/jquery/tablesorter/desc.gif); }
  table.sortable thead tr td.link {
    width: 3em; }
  table.sortable tbody tr td {
    white-space: nowrap;
    overflow: hidden; }

div#table_columns {
  background-color: #ffffff;
  border: 2px solid #cccccc;
  margin: 5px; }
  div#table_columns h4 {
    background-color: #fffeeb;
    border-bottom: 1px solid #dddddd;
    padding: 2px;
    font-weight: normal;
    font-size: 1em; }
  div#table_columns ul {
    list-style: none; }
  div#table_columns li {
    margin-left: 5px;
    display: inline;
    cursor: pointer; }
  div#table_columns li.visible {
    color: #555;
    font-weight: bold;
    text-decoration: underline; }
  div#table_columns li.invisible {
    color: #999999; }

div.onetime_url {
  font-weight: bold;
  font-size: 16px; }
  div.onetime_url p {
    padding: 10px; }

div.box.entry div.contents {
  border: 1px solid #cccccc;
  background: #ffffff; }
div.box.entry div.rich_style, div.box.entry div.hiki_style {
  margin: 5px; }

div.feed_item {
  border: 1px dotted blue;
  width: 90%;
  margin-bottom: 8px; }
