.pointer {
  cursor: pointer; }

.move {
  cursor: move; }

.link {
  color: #0080DD; }

.link:hover {
  color: blue; }

span.share_file_uploader.trigger {
  font-size: 10px;
  margin-left: 5em; }

.share_file.upload iframe {
  border: 0;
  overflow: hidden; }
.share_file.upload div.form {
  width: 100%;
  height: 9em; }
  .share_file.upload div.form iframe {
    width: 100%;
    height: 100%; }
.share_file.upload div.target {
  width: 0;
  height: 0; }
  .share_file.upload div.target iframe {
    width: 0;
    height: 0; }

div#share_file_uploader.enabled {
  z-index: 1;
  position: absolute;
  background: #ffffff;
  width: 500px;
  border: 2px solid #99c; }
  div#share_file_uploader.enabled .title_bar {
    position: relative;
    background: #ccccff;
    border-bottom: 1px solid #99c; }
    div#share_file_uploader.enabled .title_bar h3 {
      margin-bottom: 5px; }
    div#share_file_uploader.enabled .title_bar div.operation {
      font-size: 10px;
      float: right;
      position: absolute;
      right: 2px;
      top: 2px; }
      div#share_file_uploader.enabled .title_bar div.operation span.link {
        margin-left: 2px; }
  div#share_file_uploader.enabled span.insert_link, div#share_file_uploader.enabled span.operation {
    display: block;
    font-size: 10px; }
  div#share_file_uploader.enabled div.share_files {
    overflow: auto;
    height: 300px; }
    div#share_file_uploader.enabled div.share_files table {
      width: 95%;
      margin: 0 auto;
      border-collapse: collapse; }
      div#share_file_uploader.enabled div.share_files table tr, div#share_file_uploader.enabled div.share_files table th, div#share_file_uploader.enabled div.share_files table td {
        border: 1px solid #DDDDFF; }
      div#share_file_uploader.enabled div.share_files table th, div#share_file_uploader.enabled div.share_files table td {
        text-align: center; }
      div#share_file_uploader.enabled div.share_files table td.thumbnail {
        width: 200px; }
      div#share_file_uploader.enabled div.share_files table td.insert {
        width: 6em; }
    div#share_file_uploader.enabled div.share_files div.paginate {
      text-align: right; }
      div#share_file_uploader.enabled div.share_files div.paginate span.info {
        margin-right: 5px; }
      div#share_file_uploader.enabled div.share_files div.paginate span.first_link, div#share_file_uploader.enabled div.share_files div.paginate span.previous_link, div#share_file_uploader.enabled div.share_files div.paginate span.next_link, div#share_file_uploader.enabled div.share_files div.paginate span.last_link {
        font-size: 10px; }

div#table_columns {
  background-color: #f0f0ff;
  border: 2px dotted #ffc000;
  margin: 5px;
  padding: 6px 8px; }
  div#table_columns ul {
    list-style: none; }
  div#table_columns li {
    margin-left: 5px;
    display: inline;
    cursor: pointer; }
  div#table_columns li.visible {
    color: #555;
    font-weight: bold;
    text-decoration: underline; }
  div#table_columns li.invisible {
    color: #999999; }
