/* ブックマーク用メニューのスタイルシート */
/* ブックマーク検索 */
/* 検索条件部分 */
table.search_cond_box {
  width: 100%;
  border-collapse: separate;
}
table.search_cond_box th {
  background-color: #f0f0ff;
  padding: 0px 5px;
  border-top: 1px solid silver;
  border-bottom: 1px solid silver;
  text-align: center;
}
/***** only IE6 holly hack *****/
* html table.search_cond_box th {
  width: 70px;
  background-color: #f0f0ff;
  padding: 0px 5px;
  border-top: 1px solid silver;
  border-bottom: 1px solid silver;
}
/******************************/

/* 検索結果部分 */
table.bookmark_box {
  margin: 5px 10px;
  width: 95%;
  border-collapse: collapse;
  border: 1px solid silver;
}

label.url , label.title {
  background-color: #f0f0ff;
  padding: 2px 2px;
  border-top: 1px solid silver;
  border-bottom: 1px solid silver;

}
div.title {
  background-color: #f0f0ff;
  padding: 2px 2px;
  font-size: 12pt;
  font-weight:bold
}
/* ------------------------------ */
/* ブックマーク一覧の一行のスタイル */
.bookmark_line {
  margin-top: 5px;
  padding-left: 5px;
  border-bottom: 1px dotted silver;
}
.bookmark_line .title {
  font-size: 15px;
}
.bookmark_line .users {
  font-size: 10px;
  font-weight: bold;
  background-color: #ffe0e0;
}
.bookmark_line .tags {
  margin: 3px 0 3px 15px;
  font-size: 10px;
  color: green;
}

