/* サイト情報メニューのスタイルシート */
/* ----------------------------------- */
/* ----------------------------------- */
/* リリースノート */
/* レイアウトのコンテナ */
div#summary_container {
  width:100%;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
/* レイアウトの左側 */
div#summary_left {
  width:150px;
  float:left;
}
/* レイアウトの右側 */
div#summary_right {
  margin-left: 160px;
  _width: 100%;
}
/* レイアウトの下側 */
div#summary_bottom {
  width:100%;
  clear:left;
}

