/* グループメニューのスタイルシート */
/* ----------------------------------- */
/* グループ検索 */
/* 検索条件部分 */
table.search_cond_box {
  width: 100%;
  border-collapse: separate;
}
table.search_cond_box th {
  width: 120px;
  background-color: #f0f0ff;
  padding: 0px 5px;
  border-top: 1px solid silver;
  border-bottom: 1px solid silver;
}
div.search_cond_space table.cateogry {
  border-collapse: separate;
}
div.search_cond_space table.category th {
  background-color: #f0f0ff;
  padding: 0px 5px;
  border-top: 1px solid silver;
  border-bottom: 1px solid silver;
  width: 120px;
}
div.search_cond_space table.category td {
  font-size: 10px;
  width: 105px;
}
div.search_cond_space table.cateogry {
  border-collapse: separate;
}
div.search_cond_space table.sort th {
  background-color: #f0f0ff;
  padding: 0px 5px;
  border-top: 1px solid silver;
  border-bottom: 1px solid silver;
  width: 120px;
}
div.search_cond_space table.category td.title {
  color: gray;
  font-weight: bold;
  background-color: #eee;
  width: 80px;
  text-align: center;
}
/* 検索結果部分 */
table.group_box {
  margin: 5px 10px;
  width: 95%;
  border-collapse: collapse;
  border: 1px solid silver;
  table-layout: fixed;
}
table.group_box th {
  width: 70px;
  background-color: #f0f0ff;
  padding-left: 5px;
  border: 1px solid silver;
}
table.group_box td {
  padding: 0px 5px;
}
table.group_box td.auth {
  text-align: left;
  font-size: 10px;
  color: gray;
}
table.group_box td.category {
  text-align: right;
  font-size: 10px;
  color: gray;
}
table.group_box td.desc {
  border: 1px solid silver;
}
table.group_box td.since {
  text-align: right;
  font-size: 10px;
}

table.group_list_box {
  margin: 5px 10px;
  width: 95%;
  border-collapse: collapse;
  border: 1px solid silver;
}
table.group_list_box th {
  text-align: left;
  background-color: #f0f0ff;
  padding-left: 5px;
  border: 1px solid silver;
}
table.group_list_box td {
  padding: 0px 5px;
}
