/* グループ（詳細）メニューのスタイルシート */
/* ----------------------------------- */
@import url(./users.css);
/* ----------------------------------- */
span.label {
  background-color: #f0f0ff;
  width: 100px;
  overflow: hidden;
  float: left;
  font-weight: bold;
  font-size: 12px;
  padding: 3px 5px;
  margin-right: 5px;
}

div.title {
  background-color: #f0f0ff;
  padding: 2px 2px;
  font-size: 12pt;
  font-weight:bold;
}