/* マイページメニューのスタイルシート */
/* ----------------------------------- */
@import url(./groups.css);
/* ----------------------------------- */
/* 足跡 */
div.access_count {
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  border: 1px dashed #ffc000;
  margin: 2px 0;
}
ul.access_tracks {
  list-style-type: none;
  margin: 5px 15px;
}
ul.access_tracks li {
  border-bottom: 1px dotted silver;
}
