/* ファイル共有用メニューのスタイルシート */
/* ----------------------------------- */
div.error_files {
  color: gray;
  font-size: 10px;
  margin-top: 5px;
}

div.error_messages {
  margin-left: 20px;
  width: 350px;
}