div#header {
  position: relative;
  height: 70px; }
  div#header div#global_top {
    border-bottom: 1px dashed #ccc;
    height: 20px;
    margin: 4px 5px; }
    div#header div#global_top div#application_link {
      float: left; }
    div#header div#global_top div#menu {
      position: absolute;
      top: 0;
      right: 0;
      border: none;
      font-size: 12px;
      text-align: right; }
  div#header div#logo {
    float: left;
    vertical-align: top;
    margin: 1px 0 0 10px; }
    div#header div#logo img {
      height: 45px; }
  div#header div.banner {
    height: 45px;
    width: 450px;
    margin: 1px 0 0 160px; }
  div#header div#search {
    position: absolute;
    bottom: 0px;
    right: 0px; }
