* {
  margin: 0;
  padding: 0; }

body {
  font-size: 12px;
  font-family: Verdana, Arial, sans-serif;
  font-weight: normal;
  color: #555555;
  position: absolute;
  left: 0;
  margin: 0;
  text-align: left;
  background-color: #ffffff;
  width: 100%; }

img {
  vertical-align: middle;
  border: 0; }

a {
  text-decoration: none;
  color: #0080dd; }
  a:hover {
    color: blue;
    text-decoration: underline; }

form {
  padding: 0px;
  margin: 0px; }
  form input {
    font-size: 12px;
    font-family: Verdana, Arial, sans-serif;
    color: #000000;
    margin: 0px;
    padding: 2px; }
  form select {
    font-size: 12px;
    font-family: Verdana, Arial, sans-serif;
    color: #000000;
    margin: 0 2px 0 0;
    padding: 0;
    letter-spacing: 2px;
    z-index: 0; }
  form textarea {
    font-size: 12px;
    font-family: Verdana, Arial, sans-serif;
    color: #000000;
    margin: 0px;
    padding: 2px; }

table {
  font-size: 12px;
  table-layout: fixed;
  border-collapse: collapse; }

div#header {
  position: relative;
  height: 70px; }
  div#header div#global_top {
    border-bottom: 1px dashed #ccc;
    height: 20px;
    margin: 4px 5px; }
    div#header div#global_top div#application_link {
      float: left; }
    div#header div#global_top div#menu {
      position: absolute;
      top: 0;
      right: 0;
      border: none;
      font-size: 12px;
      text-align: right; }
  div#header div#logo {
    float: left;
    vertical-align: top;
    margin: 1px 0 0 10px; }
    div#header div#logo img {
      height: 45px; }
  div#header div.banner {
    height: 45px;
    width: 450px;
    margin: 1px 0 0 160px; }
  div#header div#search {
    position: absolute;
    bottom: 0px;
    right: 0px; }

div#footer {
  color: #A9A9A9;
  overflow: hidden;
  text-align: center;
  position: relative;
  height: 50px; }
  div#footer .info {
    width: 800px;
    margin: auto;
    padding: 5px 200px 0 0; }
    div#footer .info .first {
      border-bottom: 1px dashed #ccc;
      padding-bottom: 4px; }
    div#footer .info .second {
      padding-top: 5px; }
  div#footer .powered_by {
    position: absolute;
    top: 0px;
    right: 0px; }

#flash_message {
  position: absolute;
  top: 3px;
  left: 15%;
  right: 15%;
  width: 70%;
  z-index: 2; }
  #flash_message div {
    width: 100%;
    margin: 0;
    text-align: center;
    font-size: 12px;
    border-width: 2px;
    border-style: solid; }
    #flash_message div h3 {
      margin: 10px;
      width: 100%; }
      #flash_message div h3 span {
        position: static;
        font-size: 10px;
        margin-left: 20px;
        right: 15px;
        top: 15px; }
    #flash_message div.warn {
      border-color: orange;
      background-color: yellow; }
    #flash_message div.notice {
      border-color: limegreen;
      background-color: palegreen; }
    #flash_message div.error {
      border-color: red;
      background-color: pink; }

input.input_submit {
  padding: 0;
  font-size: 11px; }
input.input_text {
  padding: 0; }

.labeled-field {
  border: 1px solid silver;
  color: rgb(153, 153, 153);
  font-size: 13px; }
  .labeled-field.focus {
    color: #000000; }

iframe#ie-select-fix {
  border: 0;
  position: absolute; }
