div.submit {
  text-align: right;
}
div.input_line {
  border-bottom: 1px dotted silver;
  margin-bottom: 5px;
  padding-bottom: 2px;
}
div.input_line div.input_label {
  background-color: #f0f0ff;
  width: 100px;
  overflow: hidden;
  float: left;
  font-weight: bold;
  font-size: 12px;
  padding: 3px 5px;
  margin-right: 5px;
}
div.input_line textarea {
  width: 95%;
}
/* ----------------------------------- */
table {
  font-size: 12px;
  table-layout: fixed;
}
table.normal {
  font-size: 12px;
  border-collapse: collapse;
  border: 1px solid silver;
}
/* --- for IE only -----*/
* html table.normal{
  table-layout: auto;
}
* html table.normal th{
  text-align: left;
}
/* -- for IE7 only --*/
*:first-child+html table.normal{
  table-layout: auto;
}
/* ---------------------*/
table.normal th {
  background-color: #f0f0ff;
}
table.normal td.line_0, table.normal tr.line_0 {
  background-color: #f8f8ff;
}
table.normal td.line_1, table.normal tr.line_1 {
  background-color: #ffffff;
}
table.normal th, table.normal td {
  border: 1px solid silver;
  padding: 1px 4px 1px 4px;
}

/* ----------------------------------- */
div#header {
  position: relative;
  border-bottom: 1px dashed silver;
  height: 50px;
}
div#header div#logo {
  float: left;
  vertical-align: top;
  margin: 3px 0 0 10px;
}
div#header div#menu {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  font-size: 12px;
  text-align: right;
  background-color: #d0e0f0;
  padding: 1px 5px;
}
div#header div#menu .item {
  float: left;
  padding: 3px 10px 1px 10px;
  font-weight: bold;
}
div#header div#menu .item a {
  color: blue;
  text-decoration: none;
}
div#header div#menu .item a:hover {
  text-decoration: underline;
}
div#header div#search {
  position: absolute;
  top: 21px;
  right: 0;
}
/* ----------------------------------- */
div#top {
  clear: both;
  text-align: right;
  border-bottom: 1px solid silver;
  padding: 1px 5px;
}
/* ----------------------------------- */
/* 共通系 */
/* 件数や次ページなどのナビ */
div.navi {
  border: 1px solid #e0e0ff;
  padding: 1px;
  background-color: #f8f8ff;
  text-align: right;
}
/* 検索時の検索条件スペース */
div.search_cond_space {
  border: 1px dashed silver;
  padding: 5px;
  _width: 100%;
}
/* 検索時の検索結果スペース */
div.search_result_space {
  margin-top: 10px;
  _width: 100%;
}
/* エディット時のフォーム入力スペース */
div.edit_form_space {
  border: 1px dashed silver;
  padding: 10px;
  margin-bottom: 5px;
}
div.edit_form_space p {
  margin: 5px 0;
}
/* ページ先頭に説明文を入れる場合などに使う */
div.desc {
  padding: 3px 10px;
  background-color: #f0f0ff;
  border: 1px dashed #ffc000;
}
/* 感応型ヘルプ */
div.helpbar {
  background-color: #fff0f0;
  text-align: center;
  margin-bottom: 2px;
}
/* ----------------------------------- */
/* ----------------------------------- */
/* flashで表示するメッセージ */
div.notice {
  border: 2px solid limegreen;
  margin: 3px 0 1em 0;
  font-size: 12px;
  background-color: palegreen;
}
div.warning {
  border: 2px solid orange;
  margin: 3px 0 1em 0;
  font-size: 12px;
  background-color: yellow;
}
div.notice span, div.warning span {
  position: absolute;
  right: 15px;
  top: 15px;
  font-size: 10px;
}

/* ----------------------------------- */
/* オートコンプリートで使う */
div.auto_complete {
  width: 350px;
  background: #fff;
}
div.auto_complete ul {
  border:1px solid #888;
  margin:0;
  padding:0;
  width:100%;
  list-style-type:none;
}
div.auto_complete ul li {
  margin:0;
  padding:3px;
}
div.auto_complete ul li.selected {
  background-color: #ffb;
}
div.auto_complete ul strong.highlight {
  color: #800;
  margin:0;
  padding:0;
}
/* ----------------------------------- */
/* カレンダー */
.calendar {
  border: none;
  width: 100%;
  _width: 94%;
}
.calendar, .calendar tr, .calendar th, .calendar td {
  text-align: center;
}
.calendar tbody td {
}
.calendar hr {
  border: solid thin #46f;
}
.monthName {
  background-color: #abf;
}
.dayName {
  background-color: #abf;
  border: solid 1px #46f;
}
.otherMonth {
}
.day {
  background-color: #f0f0ff;
}
.holiday {
  background-color: #ffe0e0;
}
.today {
  background-color: #c0ffc0;
}
.selected {
  background-color: #ffffa0;
}
/* ----------------------------------- */
/* コンテンツの左メニュー・右中身の構造 */

/* ----------------------------------- */
/* 紹介文のところで使う */
table.chain_table {
  width: 100%;
  margin: 5px 0;
  border-collapse: separate;
  empty-cells: hide;
}
table.chain_table th {
  background-color: #f0f0ff;
  width: 120px;
  text-align: center;
  border: 1px solid silver;
}
table.chain_table td.message {
}
table.chain_table td.arrow {
  width: 10px;
}
table.chain_table td.message div {
  border: 1px solid silver;
  overflow: hidden;
  padding: 5px;
  word-break: break-all;
}
/* ----------------------------------- */
/* タグクラウドのフォントサイズ */
.tag1 {font-size: 1.0em;}
.tag2 {font-size: 1.2em;}
.tag3 {font-size: 1.4em;}
.tag4 {font-size: 1.6em;}
.tag5 {font-size: 1.8em;}
.tag6 {font-size: 2.0em;}

/* ----------------------------------- */
/* マイページ：足跡 */
div.access_count {
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  border: 1px dashed #ffc000;
  margin: 2px 0;
}
ul.access_tracks {
  list-style-type: none;
  margin: 5px 15px;
}
ul.access_tracks li {
  border-bottom: 1px dotted silver;
}

/* ----------------------------------- */
/* グループ・ユーザの検索条件部分 */
table.search_cond_box {
  width: 100%;
  border-collapse: separate;
}
table.search_cond_box th {
  width: 130px;
  background-color: #f0f0ff;
  padding: 0px 5px;
  border-top: 1px solid silver;
  border-bottom: 1px solid silver;
}
div.search_cond_space table.cateogry {
  border-collapse: separate;
}
div.search_cond_space table.category th {
  background-color: #f0f0ff;
  padding: 0px 5px;
  border-top: 1px solid silver;
  border-bottom: 1px solid silver;
  width: 120px;
}
div.search_cond_space table.category td {
  font-size: 10px;
  width: 105px;
}
div.search_cond_space table.cateogry {
  border-collapse: separate;
}
div.search_cond_space table.sort th {
  background-color: #f0f0ff;
  padding: 0px 5px;
  border-top: 1px solid silver;
  border-bottom: 1px solid silver;
  width: 120px;
}
div.search_cond_space table.category td.title {
  color: gray;
  font-weight: bold;
  background-color: #eee;
  width: 80px;
  text-align: center;
}

/* ----------------------------------- */
/* ユーザ検索の検索結果部分 */
div.user_box {
  position: relative;
  margin: 5px 10px;
  width: 95%;
}
div#user_buttons {
  position: absolute;
  top: 2px;
  right: 5px;
}
table.user_box {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid silver;
}
table.user_box th {
  width: 20%;
  background-color: #f0f0ff;
  padding-left: 5px;
  border: 1px solid silver;
}
table.user_box td.image {
  padding: 0px;
  width: 130px;
  text-align: center;
}
table.user_box td {
  padding-left: 5px;
  border: 1px solid silver;
}

/* ----------------------------------- */
/* グループ検索の検索結果部分 */
table.group_box {
  margin: 5px;
  width: 98%;
  border-collapse: collapse;
  border: 1px solid silver;
  table-layout: fixed;
}
table.group_box th {
  width: 200px;
  padding-left: 5px;
  border: 1px solid silver;
  background-color: #F8F8FF;
  font-weight: bold;
  font-size: 14px;
}
table.group_box td {
  padding: 0px 5px;
  font-size: 10px;
  border: 1px solid silver;
  color: gray;
}
table.group_box td.auth {
  text-align: left;
}
table.group_box td.auth p {
  margin: 5px;
}
table.group_box td.since {
  text-align: right;
}

table.group_list_box {
  margin: 5px 10px;
  width: 95%;
  border-collapse: collapse;
  border: 1px solid silver;
}
table.group_list_box th {
  text-align: left;
  background-color: #f0f0ff;
  padding-left: 5px;
  border: 1px solid silver;
}
table.group_list_box td {
  padding: 0px 5px;
}

/* ----------------------------------- */
/* 共有ファイル関連 */
div.error_files {
  color: gray;
  font-size: 10px;
  margin-top: 5px;
}

div.error_messages {
  margin-left: 20px;
  width: 350px;
}

/* ----------------------------------- */
/* ランキングメニューのスタイルシート */
table.calendar_table {
  font-size: 12px;
  width: 150px;
}
table.calendar_table th {
  background-color: #EEEEEE;
}
div.ranking_menu {
  margin-bottom: 20px;
}
div.ranking_data {
  margin-top: 10px;
}
div.ranking_menu_title {
  margin-bottom: 10px;
}
span.ranking_caption {
  font-size: 10px;
}
table.ranking_square {
  padding: 0px 0px 0px 0px;
  margin: 0 0 10px 0;
  background-color: #f0f0ff;
  border: #C6C7C6 1px solid;
  font-size: 12px;
  table-layout: auto;
}
table.ranking_square .title {
  margin: 1px;
  padding: 5px;
  background-color: #f0f0ff;
  border: #C6C7C6 1px solid;
  font-size: 14px;
  font-weight: bold;
  color: #77778C;
  text-align: center;
}
table.ranking_square table {
  text-align: left;
  font-size: 12px;
}
table.ranking_square tr {
  background-color: #ffffff;
}
table.ranking_square th {
  padding: 3px 0 3px 0;
  font-size: 12px;
  background-color: #f8f8ff;
  text-align: left;
}
table.ranking_square th.point {
  text-align: center;
}
table.ranking_square .rank {
  padding: 3px;
  width: 15px;
  font-size: 12px;
  text-align: center;
}
table.ranking_square .link_text {
  padding: 3px 0 3px 0;
  font-size: 12px;
  width: 350px;
}
table.ranking_square .user_name {
  padding: 3px 0 3px 0;
  font-size: 12px;
  width: 100px;
}
table.ranking_square .point {
  padding: 3px 0 3px 0;
  font-size: 12px;
  text-align: center;
  width: 100px;
}

#ranking_title {
  color:#0033CC;
  font-size:14px;
  font-weight:bold;
  margin-left:5px;
  vertical-align:middle;
}

div.statistics_history {
  margin-top: 20px;
}
div.statistics_line {
  font-size: 11px;
  padding: 3px;
  border-bottom: 1px dashed silver;
  margin: 0px 5px;
  float: left;
}
div.statistics_line .statistics_desc {
  width: 240px;
  float: left;
}
div.statistics_line .statistics_value {
  width: 45px;
  text-align: right;
  float: left;
}
div.statistics_line .statistics_menu {
  font-size: 10px;
  width: 200px;
  margin-left: 10px;
  float: left;
}

div.monthly_statictics_box {
  width: 300px;
  margin: 10px;
  padding: 10px;
  border: 1px solid silver;
  background-color: #eee;
}
div.monthly_statictics_line {
  float: left;
  border-bottom: 1px dotted silver;
}
div.monthly_statistics_inner_space {
  padding: 3px;
  background-color: #fff;
}
div.current_statistics {
  float: left;
  width: 100%;
}

/* ----------------------------------- */
/* ブックマーク用メニューのスタイルシート */
table.bookmark_comment_box {
  margin: 5px 10px;
  width: 600px;
  border-collapse: collapse;
  border: 1px solid silver;
}
table.bookmark_comment_box th {
  width: 70px;
  background-color: #f0f0ff;
  padding-left: 5px;
  border: 1px solid silver;
}
table.bookmark_comment_box td {
  padding: 0px 5px;
}

span.label {
  background-color: #f0f0ff;
  width: 100px;
  overflow: hidden;
  float: left;
  font-weight: bold;
  font-size: 12px;
  padding: 3px 5px;
  margin-right: 5px;
}

div.title {
  background-color: #f0f0ff;
  padding: 2px 2px;
  font-size: 12pt;
  font-weight:bold;
}

div.bookmark_space div.comment_space {
  overflow: hidden;
}

/* 検索結果部分 */
table.bookmark_box {
  margin: 5px 10px;
  width: 95%;
  border-collapse: collapse;
  border: 1px solid silver;
}

label.url , label.title {
  background-color: #f0f0ff;
  padding: 2px 2px;
  border-top: 1px solid silver;
  border-bottom: 1px solid silver;

}
div.title {
  background-color: #f0f0ff;
  padding: 2px 2px;
  font-size: 12pt;
  font-weight:bold
}

/* ブックマーク一覧の一行のスタイル */
.bookmark_line {
  margin-top: 5px;
  padding-left: 5px;
  border-bottom: 1px dotted silver;
}
.bookmark_line .title {
  font-size: 15px;
}
.bookmark_line .users {
  font-size: 10px;
  font-weight: bold;
  background-color: #ffe0e0;
}
.bookmark_line .tags {
  margin: 3px 0 3px 15px;
  font-size: 10px;
  color: green;
}

/* ----------------------------------- */
/* プロフィール表示 */
div.subtitle {
  border-left: 10px solid #aaaaff;
  border-bottom: 1px solid #aaaaff;
  padding-left: 5px;
  padding-top: 3px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: bold;
}
div.subtitle span.description {
  font-weight: normal;
}
