/* ユーザメニューのスタイルシート */
/* ----------------------------------- */
/* ユーザ検索 */
/* 検索条件部分 */
table.search_cond_box {
  width: 100%;
  border-collapse: separate;
}
table.search_cond_box th {
  width: 75px;
  background-color: #f0f0ff;
  padding: 0px 5px;
  border-top: 1px solid silver;
  border-bottom: 1px solid silver;
  text-align: center;
}
/* 検索結果部分 */
table.user_box {
  margin: 5px 10px;
  width: 95%;
  border-collapse: collapse;
  border: 1px solid silver;
}
table.user_box th {
  width: 20%;
  background-color: #f0f0ff;
  padding-left: 5px;
  border: 1px solid silver;
}
table.user_box td.image {
  padding: 0px;
  width: 130px;
  text-align: center;
}
table.user_box td {
  padding-left: 5px;
  border: 1px solid silver;
}
