<% if current_target_user -%>
  <% content_for :contents_left do -%>
  <% end -%>

  <% content_for :contents_right do -%>
    <%= render :partial => 'index' %>
  <% end -%>
<% else -%>
  <% content_for :contents_left do -%>
    <div class="action_buttons ui-corner-all">
      <ul class="no_style">
        <li><%= link_to(content_tag('span', _('Create New Group')), {:controller => 'groups', :action => 'new'}, :class => 'rounded', :title => _('New Posts')) %></li>
      </ul>
    </div>
  <% end -%>

  <% content_for :contents_right do -%>
    <%= render :partial => 'index' %>
  <% end -%>
<% end -%>
