<div class="search_result_space">
  <% unless @users.empty? -%>
    <%= i18n_will_paginate_with_container_wrapper @users %>
    <% @users.each do |user| -%>
      <%= render :partial => 'users/user', :locals => {:user => user, :group => @group} %>
    <% end -%>
    <div class="clear_left"></div>
    <%= i18n_will_paginate_with_container_wrapper @users %>
  <% end -%>
</div>
