<div class="desc ui-corner-all margin05em">
<%= _("You are about to register your profile that will be shown to the users of %s.<br/>\nThe information is not to be used for employee management but only a start of communications between users.<br/>\n(You will feel more familiar with one that came from the same university, right?)<br/>\nTherefore, of course, the information you have registered will not be used for any purpose other than running this service.<br/>") % h(Admin::Setting.abbr_app_title)%>
</div>

<% form_for @user, :url => update_active_tenant_user_path(current_tenant, @user), :html => {:id => "registration_form", :class => 'margin10'} do |f| -%>
  <% tabindex = 0 -%>
  <%= render :partial => "form", :locals => {:form => f, :tabindex => tabindex} %>
  <%= f.submit _('Register User'), :tabindex => (tabindex += 1), :id => 'submit_button', :disable_with => _("Saving..."), :class=>"margin05em" %>
<% end -%>
