<div class="page-menu" style="margin-bottom: 50px;">
  <span style="float: left;"><%= link_to(_('[追加する]'), insert_wiki_chapter_path(page.title, chapter)) unless page.deleted? %></span>
  <% if page.chapters.size > 1 %>
    <span style="float: left;"><%= link_to(_('[Delete]'), wiki_chapter_path(page.title, chapter.id), :confirm => _("Are you sure?"), :method => :delete) unless page.deleted? %></span>
  <% end %>
  <span style="float: left;"><%= link_to(_('[Edit]'), edit_wiki_chapter_path(page.title, chapter.id)) unless page.deleted? %></span>
</div>
