<% if ENV['RAILS_ENV'] == 'development' || ENV['RAILS_ENV'] == 'test' %>

<div id='debug' style="width: 100%;"> [[session dump]]
<table border="1" class="close" width=100%>
  <tr><th width=20% style="background-color:silver;">key</th><th style="background-color:silver;">value</th></tr>

<% keys,data = session.attributes %>
<% keys.sort! { |a, b| a.to_s <=> b.to_s } %>
<% keys.each do |key|%>
<tr><th style="background-color:lime;"><%=h key %></th><td><%=h data[key] %><br/></td></tr>
<% end %>

</table>
</div>

<% end %>
