<div class="box_space">
  <div class="box_space_title">メニュー</span></div>
  <div class="box_space_body">
  <ul>
    <% menu_items.each do |menu_item| %>
    <li><%= menu_item -%></li>
    <% end %>
  </ul>
  </div>
  <div class="box_space_bottom"></div>
</div><!-- box_space -->
