<% blog_mode ||= false %>

（注意！）セキュリティ上の問題があるファイルは、アップロードしないで下さい。
<div id="input_value_area"></div>
<div><a href="#" id="add_file_tag_link">[更にファイルを追加]</a></div>
<div id="hidden_file_area" style="display:none;"></div>

<% content_for :javascript_initializers do -%>
    var index = 1;
    var addInputFileField = function(){
        var elemDiv = $j(document.createElement('div'))
        .attr('class', 'input_value')
        .append(
            $j(document.createElement('input'))
            .attr({
                type: 'file',
                id: "<%= file_field_name -%>[" + index + "]",
                name: "<%= file_field_name -%>[" + index + "]",
                size: '50'
            })
        )
        .appendTo('#input_value_area');
        index++;
     };

     $j('#add_file_tag_link')
     .click(function() {
         addInputFileField();
         return false;
     });
     addInputFileField();
<% end -%>
