<% content_for :contents_right do -%>
  <%= render :partial => 'wiki/navigation' %>
<% end -%>

<% content_for :contents_left do -%>
  <% blank_message = "このページはまだ編集されていません。ご自由に編集してください!" %>
  <%= render_richtext_with_border (@page.content.blank? ? blank_message : @page.content) %>
  <span style="float: right;"><%= link_to(_('[編集する]'), new_wiki_history_path(@page.title)) %></span>
<% end -%>

