<table>
  <tr>
    <th><label for="email"><%= _('UserProfile|Email') %></label></th>
    <td><%= text_field_tag(:email, params[:email], :size => 40) %></td>
  </tr>
</table>
<%= submit_tag _('Send') %>
