<div class="content">
  <h3><%= _('Signup') %></h3>
  <p><%= _('以下で指定されたメールアドレスにユーザ登録のためのURLを送信します。') %></p>
  <% form_tag :action => :activate do -%>
  <%= render :partial => 'mail_form' %>
  <% end -%>
</div>
