<div class="content">
  <h3>パスワードリマインダー</h3>
  <p>以下で指定されたメールアドレスにパスワードリセットのためのURLを送信します。</p>
  <% form_tag :action => :forgot_password do -%>
    <p>
      <label for="email">メールアドレス</label>
      <%= text_field_tag(:email, params[:email]) %>
    </p>
    <p>
      <label />
      <%= submit_tag "送信する" %>
    </p>
  <% end -%>
</div>
