<div class="content">
  <h3>OpenID 再設定</h3>
  <p><%= _('Send the URL for resetting the Open ID to the email addresss specified below.') %></p>
  <% form_tag :action => :forgot_openid do -%>
  <%= render :partial => 'mail_form' %>
  <% end -%>
</div>
