<%= render :partial => 'registration_sequence' %>
<div class="desc ui-corner-all margin05em">
<%= _("You are about to register your profile that will be shown to the users of %s.<br/>\nThe information is not to be used for employee management but only a start of communications between users.<br/>\n(You will feel more familiar with one that came from the same university, right?)<br/>\nTherefore, of course, the information you have registered will not be used for any purpose other than running this service.<br/>") % h(Admin::Setting.abbr_app_title)%>
</div>

<%= render :partial => "registration_form", :locals => {:is_new => true} %>
