<div class="desc" style="margin-bottom: 10px;">
SNSを利用する際に他のユーザから見えるプロフィールの登録を行います。<br/>
ここで登録頂く情報は、社員管理のためではなく、あくまで、ユーザ間のコミュニケーションのきっかけ作りとなるものです。<br/>
（例えば、同じ大学出身だと知らなかった人でも親しみがわきますよね？）<br/>
よって、登録頂いた情報は、当然ですが、本サービスの運営以外では利用いたしません。<br/>
</div>

<%= render :partial => "registration_form", :locals => {:is_new => true} %>
