# SKIP(Social Knowledge & Innovation Platform)
# Copyright (C) 2008 TIS Inc.
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#  This program is distributed in the hope that it will be useful,
#  but WITHOUT ANY WARRANTY; without even the implied warranty of
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#  GNU General Public License for more details.
#
#  You should have received a copy of the GNU General Public License
#  along with this program.  If not, see <http://www.gnu.org/licenses/>.

# ==================================================================================================
# この設定ファイルは、"initial_settings.yml"というファイル名でコピーして利用してください
# ここで設定する項目は、サーバーの起動前に設定する初期設定項目です
# 起動後に変更した場合、再起動が必要となります
#
# 詳しくは、以下のサイトをご参照ください。
#   SKIPポータル = http://portal.openskip.org/
# ==================================================================================================

default: &default

  # ================================================================================================
  # 以下の項目はセキュリティ上の観点から、インターネットでの稼動時は必ず変更して下さい
  # ================================================================================================
  session:
    :key: _skip_session                                     # セッションの名称です。
    :secret: change-mechange-mechange-mechange-me                   # cookieの暗号化に使う鍵です。
  sha1_digest_key: change-me                                        # ユーザのパスワードを登録する際に使う鍵です。

  # ================================================================================================
  # バッチ・メール送信時のシステムのURLに含まれるホスト情報の設定(空の場合、管理画面から設定できます)
  # メール送信時の本文などに利用する言語設定
  # ================================================================================================
  host_and_port:                                                    # システムが動作するURLのホスト部分とポート番号（例：localhost:3000 or demo.openskip.org）
  protocol:                                                         # システムが動作する標準のプロトコル(例:http:// or https://)
  default_locale: ja-JP                                                # メール送信時の言語設定

  # ================================================================================================
  # 共有ファイルのファイルサイズの制限に関する設定（単位：バイト）
  #   "max_share_file_size_of_system"の値でのチェックを最優先で行います。
  #   （オーナー単位・ファイル単位を大きくしてもシステム全体で足りない場合、アップロードできません）
  # ================================================================================================
  max_share_file_size_of_system: 1073741824                         # システム全体でアップできる最大許可容量(  1GB = 1073741824 )
  max_share_file_size: 10485760                                     # ファイル単位でアップできる最大許可容量(  10M = 10485760 )

  # ================================================================================================
  # ファイルの保存先・バッチのログ出力先に関する設定
  # ================================================================================================
  share_file_path: tmp/share_file_path                              # 共有ファイルの保存ディレクトリ
  batch_log_path: log/batch.log                                     # バッチ実行時のログ出力先(指定がなければ log/batch.log)
  cache_path: tmp/app_cache                                         # 全文検索用cacheファイルの出力先

  # ================================================================================================
  # システム運用担当者
  # ================================================================================================
  administrator_addr: youradmin@example.com                         # 500エラーの送信と管理者登録失敗の場合に表示されるアドレス

  # ================================================================================================
  # メールに関する設定
  # ================================================================================================
  raise_delivery_errors: false                                      # メール送信に失敗した場合のエラー処理を行なうか
  # 通常のメール関連機能のための設定
  mail:
    show_mail_function: true                                        # メール関連項目の表示制御(メールアドレス変更、メール通知設定、メール送信履歴、(記事)連絡タグ)
    default_send_mail_of_question: false                            # 質問記事のメール送信チェックボックスのデフォルト値
    smtp_settings:
      :address:    localhost
      :port:       25
      :domain:     localhost.localdomain
      :user_name:
      :password:
      :authentication:
      :tls:        false                                            # ruby 1.8.6以下でtlsを有効にする場合はtrueにする
  # システムにエラーが発生した場合にエラーメールを送信するための設定
  exception_notifier:
    enable: false                                                    # システムエラーをシステム運用担当者にメールするかどうか
    sender_addr: yoursender@example.com                              # システムエラーメールの送信元アドレス
    email_prefix: [ERROR]                                            # システムエラーメールのタイトルにつけるprefix
    smtp_settings:
      :address:    localhost
      :port:       25
      :domain:     localhost.localdomain
      :user_name:
      :password:
      :authentication:
      :tls:        false                                             # ruby 1.8.6以下でtlsを有効にする場合はtrueにする

  # ================================================================================================
  # アカウントに関する設定
  # ================================================================================================
  usercode_dips_setting: true                                        # ログインIDを表示するかどうかの設定
  password_edit_setting: true                                        # パスワード変更可能かどうかの設定
  username_use_setting: false                                        # ユーザ登録時にユーザ名を利用するかどうかの設定
  user_code_format_regex: ^(\d{6}|[kK]\d{5})$                        # ユーザ名として許可しない形式を指定
  user_code_minimum_length: 4                                        # ユーザ名の最小文字数を指定

  # ================================================================================================
  # ログインの際に利用する認証方式の設定
  # ================================================================================================
  login_mode: password                                               # ログインの方法の設定 password:パスワード認証, rp:RPとして稼動
  # 以下RPとして稼動の場合の設定
  fixed_op_url:                                                      # RPモードで固定OPを利用するSSOの場合のURL
  ax_fetchrequest:
    :name: "http://axschema.org/namePerson"
    :email: "http://axschema.org/contact/email"
    :code: "http://axschema.org/namePerson/friendly"

  # ================================================================================================
  # 全文検索に関する設定
  # ================================================================================================
  full_text_search_setting: false                                   # 全文検索入力欄の表示制御（falseの場合、下記の設定不要）
  estraier_url: http://localhost:1978/node/node1                    # hyper estraierの検索ノードのURL
  search_apps:
    skip:
      cache:  http://localhost:3000/cache
      meta:  /skip_root/tmp/cache_meta
      condition_js: http://localhost:3000/services/search_conditions.js
      title: SKIP
      order: 1

  # ================================================================================================
  # OpenID Providerの動作に関する設定
  # ================================================================================================
  white_list:
    - http://localhost:3333/consumer
  ax_props:
    -
      - email
      - http://axschema.org/contact/email
      - email
    -
      - fullname
      - http://axschema.org/namePerson
      - name
    -
      - code
      - http://axschema.org/namePerson/friendly
      - code

  # ================================================================================================
  # システムからのお知らせ
  # ================================================================================================
  system_notice:
    title:
    url:

  # ================================================================================================
  # 連携アプリに関する設定
  # ================================================================================================
  collaboration_apps:
#    wiki:
#      name: SKIP-WIKI
#      description: SKIPと連携するWikiアプリケーションです。
#      root_url: http://localhost:4000
#      ca_file:
#
#      feeds:
#        - title:
#          path: pages.rss
#
#      operations:
#        - view_place: mypage
#          title: SKIP-WIKIの操作
#          links:
#            - label: 新しいノートを作る
#              url: http://localhost:4000/notes/new
#        - view_place: group
#          title: SKIP-WIKIの操作
#          links:
#            - label: 新しいノートを作る
#              url: http://localhost:4000/notes/new

  belong_info_apps:                                                  # 所属情報を外部のアプリケーションのAPIを利用して設定する
#     wiki:
#       url:        http://localhost:4000/notes.js
#       ca_file:  /path/to/ca_file
  skip_collaboration:
    secret_key: change-me                                             # 必ず変更して下さい。

  # ================================================================================================
  # その他
  # ================================================================================================
  proxy_url:                                                         # プロキシサーバのURL(例:http://proxy.com:8080/)
  ssl_setting: false                                                 # SSLログインを利用するかどうかの設定
  not_blank_link_re: https?:\/\/dev(.openskip.org)?\/.*              # ブログ内のリンクで新しいウインドウを開かないでリンクをするURLの正規表現
  google_analytics:                                                  # Google Analyticsを利用したアクセス解析のための設定
  help_url: http://help.skipaas.jp/                                  # ヘルプのURL
  default_theme: silver                                              # 既定のテーマ
  what_new_url:                                                      # 新機能案内のURL
  hide_bookmark_to_user: false                                       # ユーザへのブックマーク機能の表示/非表示切り替え
  hide_header_logout_link: false                                     # ヘッダのログアウトリンクの表示/非表示切り替え
  footer_image_link_tag:

  advertisements_url:                                                # 広告領域に表示するデータのJSON又はJSONPを返すURL


####################################################################################################
# 以下設定不要

development:
  <<: *default

test:
  <<: *default
  delivery_method: test
  collaboration_apps:
    wiki:
      name: SKIP-WIKI
      description: SKIPと連携するWikiアプリケーションです。
      root_url: http://localhost:4000
      ca_file:
      feeds:
        - title:
          path: pages.rss
      operations:
        - view_place: mypage
          title: SKIP-WIKIの操作
          links:
            - label: 新しいノートを作る
              url: http://localhost:4000/notes/new
  default_locale: en

cucumber:
  <<: *default
  delivery_method: test

production:
  <<: *default
