# SKIP(Social Knowledge & Innovation Platform)
# Copyright (C) 2008 TIS Inc.
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#  This program is distributed in the hope that it will be useful,
#  but WITHOUT ANY WARRANTY; without even the implied warranty of
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#  GNU General Public License for more details.
#
#  You should have received a copy of the GNU General Public License
#  along with this program.  If not, see <http://www.gnu.org/licenses/>.

default: &default
  session:
    :session_key: _skip_session
    :secret: change-mechange-mechange-mechange-me                           # 必ず変更して下さい。cookieの暗号化に使う鍵です。
  sha1_digest_key: change-me                                                # 必ず変更して下さい。ユーザのパスワードを登録する際に使う鍵です。
  # 所属情報を設定する { :app_name => { :api => :api_name, :hash_key => 'hash_key_name', :prefix => 'prefix' } }
  belong_info_apps:
  proxy_url:                                                                # プロキシサーバのURL(例:http://proxy.com:8080/)
  estraier_url: http://localhost:1987/node/node1                            # hyper estraierの検索ノードのURL
  secret_key: change-me                                                     # 必ず変更して下さい。
  image_path: temp_image_file_path                                          # ブログ/掲示板画像の保存ディレクトリ
  share_file_path: temp_share_file_path                                     # 共有ファイルの保存ディレクトリ
  batch_log_path:                                                           # バッチ実行時のログ出力先(指定がなければ log/batch.log)
  max_share_file_size: 10485760                                             # 共有ファイルの最大許可容量( 10M = 10485760 )
  not_blank_link_re: https?:\/\/dev(.openskip.org)?\/.*                     # ブログ内のリンクで新しいウインドウを開かないでリンクをするURLの正規表現
  ssl_setting: false                                                        # SSLログインを利用するかどうかの設定
  user_code_format_regex: ^(\d{6}|[kK]\d{5})$                               # ユーザ名として許可しない形式を指定
  full_text_search_setting: false                                           # 全文検索入力欄の表示制御
  password_edit_setting: true                                               # パスワード変更可能かどうかの設定
  username_use_setting: true                                                # ユーザ登録時にユーザ名を利用するかどうかの設定
  usercode_dips_setting: true                                               # ログインIDを表示するかどうかの設定
  delivery_method: smtp                                                     # メール配信方法(ActionMailer::Base.delivery_methodへの設定値)
  raise_delivery_errors: false                                              # メール送信に失敗した場合のエラー処理を行なうか
  login_mode: password                                                      # ログインの方法の設定 password:パスワード認証, rp:RPモード
  fixed_op_url:                                                             # RPモードで固定OPを利用するSSOの場合のURL
  administrator_addr: youradmin@example.com                                 # システム管理者のアドレス
  exception_notifier:
    enable: false                                                           # システムエラーをシステム管理者にメールするかどうか
    sender_addr: yoursender@example.com                                     # システムエラーメールの送信元アドレス
    email_prefix: [ERROR]                                                   # システムエラーメールのタイトルにつけるprefix

# ---- 全文検索
  search_apps:
    skip:
      cache:  localhost/cache_skip
      meta:  /data/caches/skip_meta
      condition_js: http://localhost:3000/services/search_conditions.js
      title: SKIP
      order: 1
# ---- RPモード
  ax_fetchrequest:
    -
      - http://axschema.org/namePerson
      - name
      - true
    -
      - http://axschema.org/contact/email
      - email
      - true
    -
      - http://axschema.org/namePerson/friendly
      - code
      - true

development:
  <<: *default
  delivery_method: test

test:
  <<: *default
  delivery_method: test

production:
  <<: *default
