<%= render :partial => '/admin/contents_left' %>
<% content_for :topic_path do -%>
<%= render :partial => '/admin/shared/topic_path' %>
<% end -%>
<% content_for :contents_right do -%>

<div class="box tabular">
  <% form_for(@user_profile, :url => admin_user_user_profile_path(@user), :method => 'put') do |f| %>
  <%= render :partial => f %>
  <p>
  <%= f.submit _('Update'), :disable_with => _('Updating...') %>
  </p>
  <% end %>
</div>
<% end -%>
