<% content_for :topic_path do -%>
<%= render :partial => '/admin/shared/topic_path' %>
<% end -%>

<%= render(:partial => "system/error_messages_for", :locals => { :messages => @error_msg }) if @error_msg %>
<div class="box">
  <% form_tag({:action => :update}, {:method => :put}) do %>
  <%= render :partial => "portal/profile_form" %>
  <p>
    <%= submit_tag _('Update'), :disable_with => _('Now Updating...') %>
  </p>
  <% end %>
</div>
