<%
 # ポイントボタンのパーツ
 # :locals => { :entry, :editable }
-%>

<% if editable %>
  （<%= "#{entry.point} #{CUSTOM_RITERAL[:point_button]}" %> 頂きました）
<% else %>
  <input type="button" id="entry_point_button" value="<%= "#{entry.point} #{CUSTOM_RITERAL[:point_button]}" -%>" />
<% end %>
</span>
