<% if current_target_group -%>
  <%
    # FIXME 要リファクタ
    user_archives = current_target_group.owner_entries.accessible(current_user).all({
      :select => "count(distinct board_entries.id) as count, users.name as user_name, users.id as user_id",
      :group => "user_id",
      :order => "count desc",
      :joins => "LEFT OUTER JOIN users ON users.id = board_entries.user_id"
    })
  -%>

  <div class="box_space">
    <div class="box_space_title"><%= icon_tag 'user_comment' %><%= _('List of Authors')%></div>
    <div class="box_space_body" style="font-size: 10px;">
      <ul style="list-style-position: inside; list-style-type: disc;">
      <% user_archives.each do |archive| -%>
        <% link_text =  archive.user_name + " (" + archive.count + ")" -%>
        <li><%= link_to h(link_text), :archive => "all", :user_id => archive.user_id, :sort_type => h(params[:sort_type]) %></li>
      <% end -%>
      </ul>
      <br style="display: none; clear:left;" />
    </div>
    <div class="box_space_bottom"></div>
  </div><!-- box_space -->
<% end -%>
