<div class="box_space">
  <div class="box_space_title"><%= _('Admin Menu')%></div>
  <div class="box_space_body">
  <ul>
    <% get_manage_menu_items(selected_menu).each do |menu_item| %>
    <li><%= menu_item -%></li>
    <% end %>
  </ul>
  </div>
  <div class="box_space_bottom"></div>
</div><!-- box_space -->
