<% content_for :contents_left do -%>
  <%= render :partial => "manage_menu", :locals => { :selected_menu => @menu } %>
<% end -%>

<% content_for :contents_right do -%>
  <div class="desc ui-corner-all margin05emver">
    <p><%= _('Information provided within the site will only be used for the operation of the site.')%></p>
  </div>

  <div class="edit_form_space ui-corner-all">
  <%= render :partial => "portal/registration_form", :locals => {:is_new => false} %>
  </div>
<% end -%>
