<% if Admin::Setting.mypage_feed_settings.size > 0 -%>
<div id="rss_feed">
  <%= skip_image_tag 'indicator.gif' %> <span style="color:gray"><%= _('Loading data from external site...')%></span>
</div><!-- box_space -->

<% content_for :javascript_initializers do -%>
    $j.ajax({
        url: '<%= url_for(:controller => 'mypage', :action => 'load_rss_feed') %>',
        success: function(html) {
            $j('#rss_feed').html(html);
        },
        error: function(event) {
            // ロード中のエラーをalert表示させないため
        }
    });
<% end -%>
<% end -%>
