<%= render :partial => '/admin/contents_left' %>
<% content_for :contents_right do -%>
<h2><%= _('Listing %{model}') % {:model => _('board entry comment')} %></h2>

<div class="box tabular">
  <%= render :partial => '/admin/shared/sortable_table',
             :locals => {
               :columns => %w[contents],
               :objects => @board_entry_comments,
               :class_name => 'Admin::BoardEntryComment',
               :link_elem => [['Show','admin_board_entry_board_entry_comment_path(@board_entry, object)'], ['Destroy','admin_board_entry_board_entry_comment_path(@board_entry, object)',{:confirm => _('Are you sure?'), :method => :delete}]]
             }
  -%>
</div>
<br />

<%= link_to _('%{model} Show') % {:model => _('board entry')}, admin_board_entry_path(@board_entry) %>
<% end -%>
