<%= render :partial => '/admin/contents_left' %>
<% content_for :topic_path do -%>
<%= render :partial => '/admin/shared/topic_path' %>
<% end -%>
<% content_for :contents_right do -%>

<div class="box tabular">
  <%= render :partial => '/admin/shared/sortable_table',
               :locals => {
               :columns => %w[id user contents parent_id],
               :objects => @board_entry_comments,
               :class_name => 'Admin::BoardEntryComment',
               :link_elem => [['Destroy','admin_board_entry_board_entry_comment_path(@board_entry, object)',{:confirm => _('Are you sure destroing with nest comments?'), :method => :delete}]]
             }
  -%>
</div>
<% end -%>
