<p>
  <b>Contents:</b>
  <%=h @board_entry_comment.contents %>
</p>


<%= link_to 'Edit', edit_admin_board_entry_board_entry_comment_path(@board_entry, @board_entry_comment) %> |
<%= link_to 'Back', admin_board_entry_board_entry_comments_path(@board_entry) %>
