<%= render :partial => '/admin/contents_left' %>
<% content_for :contents_right do -%>
<p>
  <b><%= label @board_entry_comment.class, :Contents %>:</b>
  <%=h @board_entry_comment.contents %>
</p>

<%= link_to _('Back'), admin_board_entry_board_entry_comments_path(@board_entry) %>
<% end -%>
