<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
  <head>
    <title>OpenID Identifier</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-XRDS-Location" content="<%= formatted_identity_url(:user => @user.code, :format => :xrds, :protocol => scheme) %>" />
    <link rel="openid.server openid2.provider" href="<%= endpoint_url %>" />
    <%= favicon_include_tag %>
  </head>
  <body>
    <p>OpenID: <%= identifier(@user) %></p>
  </body>
</html>

