<div class="box_space">
  <div class="box_space_title"></div>
  <div class="box_space_body">
    <ul>
      <% if against_chains.map(&:from_user_id).include? current_user.id -%>
        <li><%= link_to(content_tag('span', _('Edit introductions')), {:controller => 'user', :action => 'edit_chain' }, {:class => 'rounded'}) %></li>
      <% else -%>
        <li><%= link_to(content_tag('span', _('Create introductions')), {:controller => 'user', :action => 'new_chain' }, {:class => 'rounded'}) %></li>
      <% end -%>
      <li><%= link_to(content_tag('span', _('Add an antenna')), {:controller => "antenna", :action => "select_antenna", :symbol => user.symbol, :dummy => '.html'}, {:class => "nyroModal rounded"}) %></li>
      <li><%= link_to(content_tag('span', _('Add a bookmark')), {:controller => "bookmark", :action => "edit", :url => user.get_postit_url, :title => user.name, :dummy => '.html'}, {:class => "nyroModal rounded"}) %></li>
    </ul>
  </div>
</div>
