<% if user.active? -%>
<div class="action_buttons ui-corner-all">
  <ul class="no_style">
    <% if chain = current_user.follow_chains.find_by_to_user_id(user.id) -%>
      <li><%= link_to(content_tag('span', _('Edit introductions')), edit_user_chain_path(user, chain), {:class => 'rounded'}) %></li>
    <% else -%>
      <li><%= link_to(content_tag('span', _('Introduce')), new_user_chain_path(user), {:class => 'rounded'}) %></li>
    <% end -%>
    <% if notice = current_user.notices.find_by_target_id_and_target_type(user.id, user.class.name) -%>
      <li><%= link_to(content_tag('span', _('Stop a notification')), notice_path(notice.id, :uid => user.uid), {:class => "rounded", :method => :delete, :confirm => _('Are you sure?')}) %></li>
    <% else -%>
      <li><%= link_to(content_tag('span', _('Notify new posts')), notices_path(:uid => user.uid), {:class => "rounded", :method => :post}) %></li>
    <% end -%>
  </ul>
</div>
<% end -%>
