<div class="box_space">
  <div class="box_space_title"><%= icon_tag 'tag_blue' %><%= _('Tags') %></div>
  <div class="box_space_body"><%= social_tag_cloud user %></div>
  <div class="box_space_bottom"></div>
</div><!-- box_space -->
