<% unless user.follow_chains.empty? -%>
<div class="box_space">
  <div class="box_space_title"><%= icon_tag('user_suit') %><%= _('About Users') %></div>
  <div class="box_space_body">
  <ul>
  <% user.follow_chains.order_new.limit(5).each do |chain| -%>
    <li><%= icon_tag('bullet_blue') + user_link_to(chain.to_user) %></li>
  <% end %>
  </ul>
  </div>
  <div class="box_space_bottom"><%= link_to _('[See all]'), :action => 'social', :menu => 'social_chain_against', :uid => user.uid %></div>
</div><!-- box_space -->
<% end -%>
