<% content_for :contents_right do -%>
<div class="desc ui-corner-all margin05emver"><%= _("Introduce %s to others!") % h(current_target_user.name)%></div>
<div class="edit_form_space ui-corner-all richtext">
<% form_for [current_target_user, @chain] do |f| -%>
  <%= render f %>
  <%= submit_tag _('Update') %>
<% end %>
<%= link_to _('[Delete]'), [current_target_user, @chain], :method => :delete, :confirm => _('Are you sure?') %>
</div>
<% end -%>
