
<div id="contents_container">

<div id="contents_left">

<div class="box_space">
  <div class="box_space_title"><%= _('Admin Menu')%></span></div>
  <div class="box_space_body">
  <ul>
    <% get_manage_menu_items(@menu).each do |menu_item| %>
    <li><%= menu_item -%></li>
    <% end %>
  </ul>
  </div>
  <div class="box_space_bottom"></div>
</div><!-- box_space -->

</div><!-- contents_left -->

<div id="contents_right">

<%= render(:partial => "group/form", :locals => { :action_value => 'update', :submit_value => _('Update') } )  %>

</div><!-- contents_right -->

<div id="contents_bottom">
</div><!-- contents_bottom -->

</div><!-- contents_container -->
