<h3><%= _('文言設定') %></h3>
<div class="box tabular">
<% %w(app_title abbr_app_title contact_addr contact_url help_url initial_anntena login_account login_account_example header_logo_url footer_link footer_contact footer_copyright footer_image_url footer_image_link_url point_button).each do |key| -%>
  <p><%= settings_label_with_text_field_tag key.to_sym %></p>
<% end -%>
</div>
