<% @revert_columns = %w(stop_new_user hide_email activation_lifetime enable_single_session) -%>
<div class="box tabular">
  <p><%= settings_label_with_check_box_tag :stop_new_user %></p>
  <p><%= settings_label_with_check_box_tag :hide_email %></p>
  <p><%= settings_label_with_select_tag :activation_lifetime, (1..10).to_a, Admin::Setting.activation_lifetime.to_i %></p>
  <p><%= settings_label_with_check_box_tag :enable_single_session %></p>
</div>
