<h3 class="topics"><%= _('Group Categories') %></h3>
<div class="box tabular">
  <p><%= _('Delete all the groups under the group category before you delete it.') %></p>
  <%= link_to _('New %{model}') % {:model => _('group category')}, new_admin_group_category_path %>
  <%= render :partial => '/admin/shared/list_table',
             :locals => {
               :columns => %w[code name icon description sort_order initial_selected],
               :disp_columns_proc => lambda do |object, column|
      case column
      when 'icon'
        icon_tag(h(object.icon), :title => h(object.icon)) + object.send(column.to_sym)
      when 'initial_selected'
        _("GroupCategory|Initial selected|#{object.initial_selected}")
      else
        object.send(column.to_sym)
      end
    end,
               :objects => @group_categories,
               :class_name => 'Admin::GroupCategory',
               :link_elem_size => 2,
               :link_elem_proc => lambda { |object|
      result = ""
      result << content_tag(:td, link_to(_("Edit"), edit_admin_group_category_path(object)) )
      result << content_tag(:td, link_to(_("Destroy"), object, {:confirm => _('Are you sure?'), :method => :delete}) ) if object.deletable?
      result
    }
             }
  -%>
</div>
