<%= render :partial => '/admin/master_data_menu_box' %>
<% content_for :topic_path do -%>
<%= render :partial => '/admin/shared/topic_path' %>
<% end -%>
<% content_for :contents_right do -%>

<div class="box tabular">
  <% form_for(@group_category) do |f| %>
  <%= render :partial => f %>
  <p>
    <%= f.submit _('Update'), :disable_with => _('Now Updating...') %>
  </p>
  <% end %>
</div>

<% end -%>
