<p><%= h user.name %>です。</p>
<p>ユーザ登録しました！！</p>
<p>以下、プロフィール</p>
<hr />
<% user.user_profile_values.each do |profile| -%>
<p><%= profile.user_profile_master.name %> :</p>
<p><%= profile.value %></p>
<% end -%>
