<div id="share_file_dialog" title="<%= _('Insert file or embed in text body') %>">
  <div id="tabs" class="invisible">
    <ul>
      <li><a href="#share_file_list"><%= _('Insert file in text body') %></a></li>
      <li><a href="#share_file_new"><%= _('Upload a file') %></a></li>
      <% if enable_any_embed? -%>
        <li><a href="#embed_tag"><%= _('Insert embed') %></a></li>
      <% end -%>
    </ul>
    <div id="share_file_list"></div>
    <div id="share_file_new"></div>
  </div>
</div>
