<% content_for :contents_left do -%>
  <%= render(:partial => 'user/portrait_box', :locals => { :user => @user }) -%>
  <%= render(:partial => "shared/menu", :locals => { :menu_items => ribbit_menu_items("call_history") }) %>
<% end -%>

<% content_for :contents_right do -%>
<ul class="ribbit">
<% @histories.each do |history| -%>
<li>
  <div class="title"><%= "#{history[:id]}: #{history[:name]}" %></div>
  <div class="body"><%= history[:number] %></div>
</li>
<% end -%>
</ul>
<% end -%>
