<% content_for :contents_left do -%>
  <%= render(:partial => 'user/portrait_box', :locals => { :user => @user }) -%>
  <%= render(:partial => "shared/menu", :locals => { :menu_items => ribbit_menu_items('message') }) %>
<% end -%>
<% content_for :contents_right do -%>
<ul class="ribbit">
<% @messages.each do |message| -%>
<li>
  <div class="title"><%= message[:title] %></div>
  <div class="body"><%= message[:body] %></div>
</li>
<% end -%>
</ul>
<% end -%>
