<%= render :partial => '/admin/contents_left' %>
<% content_for :topic_path do -%>
<%= render :partial => '/admin/shared/topic_path' %>
<% end -%>
<% content_for :contents_right do -%>


<div class="box tabular">
  <%= render :partial => '/admin/search_box' %>
  <%= render :partial => '/admin/shared/sortable_table',
             :locals => {
               :columns => %w[name gid description protected category],
               :objects => @groups,
               :class_name => 'Admin::Group',
               :link_elem => [['Show','object'], ['Destroy','object',{:confirm => _('Are you sure?'), :method => :delete}]]
             }
  -%>
</div>
<br />

<% end -%>
