<% content_for :topic_path do -%>
<%= render :partial => '/admin/shared/topic_path' %>
<% end -%>

<div class="box tabular">
  <% form_for(@user, :url => admin_tenant_user_path(current_tenant, @user)) do |f| %>
  <%= render :partial => f %>
  <p><%= f.submit _('Update'), :disable_with => _('Now Updating...') %></p>
  <% end %>
</div>

<% links = [] -%>
<% links << link_to(_('Editing %{model}') % {:model => _('user profile')}, admin_user_user_profile_path(@user)) if UserProfileMaster.count > 0 %>
<%= links.join(' | ') %>
