<% content_for :topic_path do -%>
<%= render :partial => '/admin/shared/topic_path' %>
<% end -%>

<div class="box tabular">
  <% form_for(@user) do |f| %>
  <%= render :partial => f %>
  <p><%= f.submit _('Update'), :disable_with => _('Now Updating...') %></p>
  <% end %>
</div>

<% links = [] -%>
<% if user_name_mode?(:name) -%>
<% links << link_to(_('Change uid'), {:action => :change_uid, :id => @user}) if @user.user_uids.size > 1 %>
<% links << link_to(_('Create %{name}') % {:name => _('user name')}, {:action => :create_uid, :id => @user}) if @user.user_uids.size == 1 and @user.active? %>
<% end -%>
<% links << link_to(_('Editing %{model}') % {:model => _('user profile')}, admin_user_user_profile_path(@user)) if UserProfileMaster.count > 0 %>
<%= links.join(' | ') %>
