<%= render :partial => '/admin/contents_left' %>
<% content_for :topic_path do -%>
<%= render :partial => '/admin/shared/topic_path' %>
<% end -%>
<% content_for :contents_right do -%>


<div class="box tabular">
<% form_for(@user) do |f| %>
<%= render :partial => f %>
  <p>
    <%= f.submit _('Create'), :disable_with => _('Creating...') %>
  </p>
<% end %>
</div>

<% end -%>
