<div id="signup_url">
<p><%= _('サインアップするためのURLは以下の通りです。') %></p>
<p><%= @signup_url %></p>
<p><%= mail_to(@user.user_profile.email, _('利用開始URLをメールで送信する'), :body => strip_tags(@mail_body), :subject => _('利用開始確認メールです')) unless Admin::Setting.mail_function_setting %></p>
</div>
