<div class="onetime_url">
<p><%= _('パスワードを再設定するためのURLは以下の通りです。') %></p>
<p><%= @reset_password_url %></p>
<p><%= mail_to(@user.user_profile.email, _('パスワード再設定URLをメールで送信する'), :body => strip_tags(@mail_body), :subject => _('パスワード再設定のメールです')) unless Admin::Setting.mail_function_setting %></p>
</div>
