<div class="box_space">
  <div class="box_space_title"></div>
  <div class="box_space_body">
    <ul>
      <li><%= link_to('', {:controller => '/edit', :action => :index}, :title => _('Write a blog entry'), :class => 'skip_sprites ss_blog') %></li>
      <li><%= link_to('', {:controller => '/edit', :action => :index, :category => _('質問')}, :title => _('Write a question'), :class => 'skip_sprites ss_question') %></li>
    </ul>
  </div>
</div>
