<div class="box_space">
  <div class="box_space_title"></div>
  <div class="box_space_body">
    <ul>
      <li><%= link_to(icon_tag(:report_edit, :title => _('Write a blog entry')) + _('Write a blog entry'), :controller => '/edit', :action => :index) %></li>
      <li><%= link_to(icon_tag(:user_comment, :title => _('Write a question')) + _('Write a question'), :controller => '/edit', :action => :index, :category => _('質問')) %></li>
    </ul>
  </div>
</div>
