<% content_for :contents_left do -%>
  <%= render :partial => "manage_menu", :locals => { :selected_menu => @menu } %>
<% end -%>

<% content_for :contents_right do -%>
  <div class="desc">
    <p>本サイトで登録頂いた情報は、本サイト運営上でのみ利用いたします。</p>
  </div>

  <div class="edit_form_space">
  <%= render :partial => "portal/registration_form", :locals => {:is_new => false} %>
  </div>
<% end -%>
