<div id="contents_container">

<div id="contents_left">

<%= render :partial => "manage_menu", :locals => { :selected_menu => @menu } %>

</div><!-- contents_left -->

<div id="contents_right">

<div class="desc"><p><%= _('Information provided within the site will only be used for the operation of the site.')%><br/></p></div>

<div class="edit_form_space">
<%= render :partial => "portal/registration_form", :locals => {:is_new => false} %>
</div>

</div><!-- contents_right -->

<div id="contents_bottom">
</div><!-- contents_bottom -->

</div><!-- contents_container -->
