<% if recent_groups.size > 0 -%>
<div class="box_space">
  <div class="box_space_title">最近のグループ</div>
  <div class="box_space_body">
  <% recent_groups.each do |group| %>
    <div class="item_line" style="margin-bottom: 1px; border-bottom: 1px dashed #d0e0ff;">
      <div class="item_name">
        <%= get_group_icon(group.group_category) %> <%= item_link_to group %>
      </div>
      <div class="item_desc" style="font-size: 10px; margin-left: 4px; color: gray;">
        <%=h truncate(strip_tags(group.description)) if group.description %>
      </div>
    </div>
  <% end -%>
  </div>
</div>
<% end -%>
