<%# locals: feeds -%>
<% feeds.each do |feed| %>
  <div class="box_space_title"><%= h feed.channel.title -%></div>
  <div class="box_space_body">
    <ul>
      <% feed.items.each do |item| %>
        <li><%= link_to icon_tag("new") + " " + h(item.title), h(item.link), :target => "_blank" -%></li>
      <% end %>
    </ul>
  </div>
<% end %>
<div class="box_space_bottom"></div>
