<div id="collaboration_apps">
  <%= show_title_bar("rss", _("更新情報(仮)"), {}) %>
  <%= skip_image_tag 'indicator.gif' %>
</div>

<% content_for :javascript_initializers do -%>
  $j.ajax({
      url: '<%= url_for(:controller => 'mypage', :action => 'collaboration_apps') %>',
      success: function(html) {
          $j('div#collaboration_apps').html(html);
      }
  });
<% end -%>

