<h1><%= _('Application error')%></h1>
<p><h4><%= _('Internal error occured. Some error popped out somewhere in the system. Please contact system administrator.')%></h4></p>
<br/>
<p><%= _('Contact Address: ')%><%= SkipEmbedded::InitialSettings['administrator_addr'] %></p>
