<div class="errorExplanation" id="errorExplanation">
  <h2><%= n_("%{num} error occured.", "%{num} errors occured.", messages.size) % {:num => messages.size} %></h2>
  <p><%= n_("Problem found in following item: ", "Problems found in following items: ", messages.size) %></p>
  <ul>
    <% for mes in messages %><li><%= mes %></li><% end %>
  </ul>
</div>
