/* ----------------------------------- */
/* color1:外線, color2:タブ線, color3: タブ, color4:外側 */
/* sakura : #e276a7, #bcd2e6, #bbd9ee, #FCF3F8 */
/* ----------------------------------- */
a {
  color: green;
}
div#main {
  background-image: url("./back.gif");
}
div#panel {
  border: 1px solid #76a7e2; /* color:1 */
}
div#side ul {
  border-bottom: 1px solid #76a7e2; /* color:1 */
}
div#side li.normal {
  border: 1px solid #76a7e2; /* color:1 */
  border-bottom: none;
}
div#side li.selected {
  border: 1px solid #76a7e2; /* color:1 */
  border-left: 1px solid #bbd9ee; /* color:4 */
  border-bottom: none;
}
div#side li.selected a {
  color: #505050;
}
div#side li.separator {
  border: 1px solid #76a7e2; /* color:1 */
  border-bottom: none;
  border-right: none;
}
/* ----------------------------------- */
#globalnavi li{
  border-top: 1px solid #76A7E2;
  border-right: 1px solid #76A7E2;
}
#globalnavi li.first{
  border-left: 1px solid #76A7E2;
}
#globalnavi li a.current,
#globalnavi li a:hover {
  background-color: #BBD9EE;
}
/* ----------------------------------- */
#tab_menu a {
  background:url("./tab_left.gif") no-repeat left top;
}
#tab_menu a span {
  color:#666;
  background:url("./tab_right.gif") repeat right top;
}
#tab_menu a:hover span {
  color:#FF9834;
}
div#tab_body {
  border-right: 1px solid darkblue; /* color:2 */
  border-bottom: none;
  border-left: none;
}
/* ----------------------------------- */
div#panel, div#side li.selected, div#tab_menu {
  background-color: #bbd9ee; /* color:4 */
}
/* ----------------------------------- */
