<% OauthProvider.enable.each do |provider| -%>
  <%
    #FIXME このままだと複数件ある場合に全部のボックスの内容が同じになってしまう
  %>
  <% if provider.setting.feeds %>
  <% provider.setting.feeds.each do |feed_setting| -%>
    <div id="collaboration_apps">
      <div class="title_bar" style="position: relative; _width: 100%;">
        <h2 class="topix_title"><%= icon_tag('rss') + h(feed_setting['title'] || _("Updates from %{provider}") % {:provider => provider.setting.name}) %></h2>
        <%
          uri = URI.join(provider.setting.root_url, feed_setting['path'].split('.').first.to_s)
          uri.query = params[:gid] ? "skip_gid=#{params[:gid]}" : nil
        -%>
        <div style="position: absolute; top: 5px; right: 10px; font-size: 14px;"><%= link_to(_('[See all]'), uri.to_s) %></div>
      </div>
      <div class="topix_body">
        <%= skip_image_tag 'indicator.gif' %>
      </div>
    </div>
    <% content_for :javascript_initializers do -%>
    $j.ajax({
    url: '<%= url_for :controller => 'collaboration_app', :action => 'feed', :app_name => provider.app_name, :path => feed_setting['path'], :gid => params[:gid], :escape => false %>',
        success: function(html) {
          $j('div#collaboration_apps > div.topix_body').html(html);
        },
        error: function(event) {
            // ロード中のエラーをalert表示させないため
        }
    });
    <% end -%>
  <% end -%>
  <% end -%>
<% end -%>
