<div class="topix_body">
  <% @feed_items.each do |item| %>
  <div class="topix_line">
    <div class="title">
      <%= link_to h(item.title), h(item.link), :target => "_blank" %>
      <span class="supplement"><%= item.date.to_formatted_s(:standard) %></span>
    </div>
    <div class="owner"></div>
  </div>
  <% end %>
</div>
