<%= render :partial => '/admin/contents_left' %>
<% content_for :topic_path do -%>
<%= render :partial => '/admin/shared/topic_path' %>
<% end -%>
<% content_for :contents_right do -%>


<div class="box tabular">
  <%= render :partial => '/admin/search_box' %>
  <%= render :partial => '/admin/shared/sortable_table',
             :locals => {
               :columns => %w[user file_name description category],
               :disp_columns_proc => lambda do |object,column|
      case column
      when "user"
        object.user.name
      when "description"
        object.description[/.{1,100}/]
      else
        object.send(column.to_sym)
      end
    end,
               :objects => @share_files,
               :class_name => 'Admin::ShareFile',
               :link_elem_size => 1,
               :link_elem_proc => lambda { |object|
      result = ""
      result << content_tag(:td, link_to(_('Destroy'), object, {:confirm => _('Are you sure?'), :method => :delete}) )
    }
             }
  -%>
</div>
<% end -%>
