<%= render :partial => '/admin/contents_left' %>
<% content_for :contents_right do -%>
<h1>New share_file</h1>

<% form_for(@share_file) do |f| %>
<%= render :partial => f %>
  <p>
    <%= f.submit _("Create") %>
  </p>
<% end %>

<%= link_to _('Back'), admin_share_files_path %>
<% end -%>
