/* ----------------------------------- */
/* color1:外線, color2:タブ線, color3: タブ, color4:外側 */
/* silver : #4a4a4a, #7f7f7f, #dfdfdf, #f4f4f4 */
/* ----------------------------------- */
div#main {
  background-image: url("./back.png"); /* image */
}
div#panel {
  border: 1px solid #9c9c9c; /* color:1 */
}
div#side ul {
  border-bottom: 1px solid #4a4a4a; /* color:1 */
}
div#side li.normal {
  border: 1px solid #4a4a4a; /* color:1 */
  border-bottom: none;
}
div#side li.selected {
  border: 1px solid #4a4a4a; /* color:1 */
  border-left: 1px solid #f4f4f4; /* color:4 */
  border-bottom: none;
}
div#side li.separator {
  border: 1px solid #4a4a4a; /* color:1 */
  border-bottom: none;
  border-right: none;
}
/* ----------------------------------- */
#globalnavi li{
  border-top: 1px solid #4a4a4a; /* color:1 */
  border-right: 1px solid #4a4a4a; /* color:1 */
}
#globalnavi li.first{
  border-left: 1px solid #4a4a4a; /* color:1 */
}
#globalnavi li a.current,
#globalnavi li a:hover {
  background-color: #f4f4f4; /* color:4 */
}
/* ----------------------------------- */
#tab_menu a {
  background:url("./tab_left.gif") no-repeat left top;
}
#tab_menu a span {
  color:#84776b;
  background:url("./tab_right.gif") repeat right top;
}
#tab_menu a:hover span, #tab_menu a.selected span {
  color: #74675b;
}
div#tab_body {
  border: 1px solid #c2bcae; /* color:2 */
  border-bottom: none;
  border-left: none;
}
/* ----------------------------------- */
div#panel, div#side li.selected, div#tab_menu {
  background-color: #f4f4f4; /* color:4 */
}
/* ----------------------------------- */
