<% %w(warning notice error).each do |item| %>
  <% if flash[item.to_sym] != nil %>
  <div class="<%= item -%>" onclick="this.style.display = 'none';">
    <h3 style="width: 100%;"><%= flash[item.to_sym] %></h3><span>[クリックでメッセージ消去]</span>
  </div>
  <% end %>
<% end %>
