<% menus = @current_user.admin ? MENU_BTNS + ADMIN_MENU_BTNS : MENU_BTNS -%>

<% if session[:user_custom_classic] == true %>

<div id="side">
  <ul id="main_menu">
<% menus.each do |btn| -%>
  <% if @main_menu == _(btn[:name]) -%><li class="selected"><% else -%><li class="normal"><% end -%>
  <%= link_to icon_tag(btn[:img_name], {:title=>_(btn[:name])}) + _(btn[:name]), btn[:url] -%></li>
<% end -%>
  </ul>
</div><!-- side -->

<style type="text/css">
div#panel {
  margin-right: 109px;
}
</style>

<% else %>

<div id="globalnavi">
  <ul>
<% menus.each do |btn| -%>
  <li title="<%=h _(btn[:desc]) -%>" <%= "class=first" if menus.first == btn -%>>
  <%= link_to icon_tag(btn[:img_name]) + _(btn[:name]), btn[:url], @main_menu == _(btn[:name]) ? {:class => "current"} : nil -%>
  </li>
<% end -%>
  </ul>
<br style="clear: left;" />
</div><!-- globalnavi -->

<style type="text/css">
div#panel {
  margin-right: 5px;
}
</style>

<% end %>
